services:
  - type: web
    runtime: python
    name: url-shortener
    repo: https://github.com/spoo-me/url-shortener
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: CONTACT_WEBHOOK
        sync: false
      - key: URL_REPORT_WEBHOOK
        sync: false
      - key: REDIS_URI
        sync: false
      - key: FLASK_SECRET_KEY
        sync: false
      - key: JWT_PRIVATE_KEY
        sync: false
      - key: JWT_PUBLIC_KEY
        sync: false
      - key: GOOGLE_OAUTH_CLIENT_ID
        sync: false
      - key: GOOGLE_OAUTH_CLIENT_SECRET
        sync: false
      - key: GITHUB_OAUTH_CLIENT_ID
        sync: false
      - key: GITHUB_OAUTH_CLIENT_SECRET
        sync: false
      - key: DISCORD_OAUTH_CLIENT_ID
        sync: false
      - key: DISCORD_OAUTH_CLIENT_SECRET
        sync: false