Flask
Flask-Cors
geoip2
pymongo
python-dotenv
requests
user-agents
tldextract
Flask-Limiter
emoji
openpyxl
dicttoxml
validators
gunicorn==22.0.0
crawlerdetect
pycountry
flask-caching
pytest
pytest-mock
requests-mock