<div id="modalPopup" class="modal">
    <div class="modal-content">
        <h2 class="modal-header">Contact Us</h2>
        <div class="button-container">
            <button class="contact-button" onclick="openContactLink('/contact');"><img src="https://img.icons8.com/ios-filled/100/ffffff/pencil--v1.png" alt="Contact Form Symbol" loading="lazy"><p>Contact Form</p></button>
            <button class="contact-button" onclick="openContactLink('https://spoo.me/discord');"><img src="https://img.icons8.com/ios-filled/100/ffffff/discord-logo.png" alt="Discord Logo" loading="lazy"><p>Discord</p></button>
            <button class="contact-button" onclick="openContactLink('https://twitter.com/spoo_me');"><img src="https://img.icons8.com/ios-filled/100/ffffff/twitterx--v1.png" alt="Twitter Logo" loading="lazy"><p>Twitter</p></button>
            <button class="contact-button" onclick="openContactLink('https://instagram.com/spoo.me');"><img src="https://img.icons8.com/ios-filled/100/ffffff/instagram-new.png" alt="Instagram Logo" loading="lazy"><p>Instagram</p></button>
            <button class="contact-button" onclick="openContactLink('mailto:support@spoo.me');"><img src="https://img.icons8.com/pastel-glyph/100/ffffff/new-post--v1.png" alt="Email Icon" loading="lazy"><p>Email</p></button>
            <button class="contact-button" onclick="openContactLink('https://github.com/spoo-me');"><img src="https://img.icons8.com/material-sharp/100/ffffff/github.png" alt="Github Logo" loading="lazy"><p>Github</p></button>
        </div>
    </div>
</div>


