* {
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 16px;
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    backdrop-filter: blur(60px);
    top:0;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    z-index: 2;
}

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.navbar .links {
    padding: 0px 10px;
    width: -webkit-fill-available;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    transition: color 0.3s ease;
}

.navbar-image {
    height: 25px;
}


.navbar a:hover {
    color: #aaa;
}

.navbar a.active {
    font-weight: bold;
}

.json .string {
    color: green;
}

.json .number {
    color: darkorange;
}

.json .boolean {
    color: blue;
}

.json .null {
    color: magenta;
}

.json .key {
    color: red;
}

.language-json {
    font-weight: normal;
}