* {
    -webkit-tap-highlight-color: transparent;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}


.navbar {
    flex-wrap: nowrap;
    z-index: 2;
}

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background-color: #191919;
    color: rgb(212, 212, 212);
}

.emoji {
    width: 8.5rem;
    height: 8.5rem;
    margin: 1.5rem;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #1F1F1F;
    color: #F5F5F5;
}

.custom-table th {
    background-color: #282828;
    color: #F5F5F5;
    font-weight: 600;
    padding: 10px;
}

.custom-table td {
    color: #B3B3B3;
    padding: 10px;
}

.custom-table th, .custom-table td {
    border: 1px solid #353535;
    text-align: left;
}

.fw-bold {
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-weight: bolder;
}

.example-codes > div,
.emoji-example-codes > div,
.stats-example-codes > div,
.export-example-codes > div {
    display: none;
}

.example-codes > div.active-code,
.emoji-example-codes > div.active-code,
.stats-example-codes > div.active-code,
.export-example-codes > div.active-code {
    display: block;
}


/* Dock styling */
.languages-dock, .emoji-languages-dock, .stats-languages-dock, .export-languages-dock {
    display: flex;
    justify-content: flex-start;
    gap: 3px;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
    overflow-x: scroll;
}

.languages-dock::-webkit-scrollbar, .emoji-languages-dock::-webkit-scrollbar, .stats-languages-dock::-webkit-scrollbar, .export-languages-dock::-webkit-scrollbar {
    display: none;
}

.languages-dock::-webkit-scrollbar-track, .emoji-languages-dock::-webkit-scrollbar-track, .stats-languages-dock::-webkit-scrollbar-track, .export-languages-dock::-webkit-scrollbar-track {
    background-color: transparent;
}


/* Button styling */
.language-button, .emoji-language-button, .stats-language-button, .export-language-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

/* Button hover effect */
.language-button:hover, .emoji-language-button:hover, .stats-language-button:hover, .export-language-button:hover {
    background-color: #555;
    color: white;
}

/* Active button styling */
.language-button.active, .emoji-language-button.active, .stats-language-button.active, .export-language-button.active {
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Smooth sliding animation */
@keyframes slidein {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.language-button::before, .emoji-language-button::before, .stats-language-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.language-button:hover::before, .emoji-language-button:hover::before, .stats-language-button:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.export-sample-files {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.export-sample-files .export-sample-file {
    color: rgb(212, 212, 212);
    background-color: #333;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #444;
    transition: background-color 0.3s ease;
}

.export-sample-files .export-sample-file:hover {
    background-color: #444;
}

.social-links {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.social-links a {
    color: rgb(212, 212, 212);
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: white;
}

.social-links img {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
    height: 20px;
    width: 20px;
}

.social-links img:hover {
    filter: brightness(1);
}

code {
    color: white;
    background-color: rgb(43, 45, 49);
    padding: 2px 5px;
    border-radius: 5px;
}

a {
    all: unset;
    cursor: pointer;
    color: rgb(212, 212, 212);
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .api-emoji {
        font-size: 5rem;
    }

    #title-text {
        margin-top: 20px;
    }

}