* {
    -webkit-tap-highlight-color: transparent;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}


.navbar {
    flex-wrap: nowrap;
    z-index: 2;
}

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background-color: #121212;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #090909;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.custom-table {
    background-color: #121212;
    color: #fff;
}

.custom-table th,
.custom-table td {
    border-color: #353535;
}

@media screen and (max-width: 768px) {
    #title-text {
        margin-top: 70px;
    }

}