body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #333;
    -ms-overflow-style: none;
}