.modal {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999999999999999;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    width: 100%;
    max-width: 500px;
    font-family: 'Allerta Stencil', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    animation: fadeIn 0.4s forwards;
}

.modal-content.closing {
    animation: fadeOut 0.4s forwards;
}

.modal-content button {
    width: 100%;
    max-width: 300px;
}

.modal-content h2 {
    color: #dfdfdf;
    font-size: 37px;
    margin-bottom: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    border-bottom: none;
    align-items: center;
    justify-content: center;
}

.modal-content .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.modal-content button {
    display: flex;
    align-items: center;
    font-family: 'Allerta Stencil', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
    margin: 20px 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: 2px solid rgba(255,255,255, 0.08);
    background: rgba(255, 255, 255, 0.125);
}

.modal-content button img {
    width: 30px;
    height: 30px;
}

.modal-content button p {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
}

.modal-content button:hover {
    background: rgba(255, 255, 255, 0.25);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 100%;
        padding: 20px;
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .modal-content h2 {
        margin-bottom: 0;
    }
}