html {
    scroll-behavior: smooth;
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

.navbar {
    flex-wrap: nowrap;
    z-index: 2;
}

body::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background-color: #070E00;
    color: #F3FEE4;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
    color: rgba(243, 254, 228, 0.8);
    font-size: 1.1rem;
}

.emoji {
    width: 8.5rem;
    height: 8.5rem;
    margin: 1.5rem;
}

.fw-bold {
    font-weight: bold;
}

h1,
h2,
h3,
h4 {
    font-weight: bolder;
}

.social-links {
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.social-links a {
    color: rgb(212, 212, 212);
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: white;
}

.social-links img {
    filter: brightness(0.8);
    transition: filter 0.3s ease;
    height: 20px;
    width: 20px;
}

.social-links img:hover {
    filter: brightness(1);
}

code {
    color: white;
    background-color: rgba(189, 251, 116, 0.1);
    border: 0.1px solid rgba(189, 251, 116, 0.5);
    padding: 2px 5px;
    border-radius: 5px;
}

ul, ol{
    color: rgba(243, 254, 228, 0.8);
    font-size: 1.1rem;
}

a {
    all: unset;
    cursor: pointer;
    color: #BDFB74;
    text-decoration: underline;
    transition: color 0.3s ease;
    font-size: 1.1rem;
    opacity: 1;
}

a:hover {
    color: #2DF98D;
}

.chart {
    width: 100%;
    max-width: 750px;
}

.info-box {
    padding: 10px 20px 15px;
    border-radius: 8px;
    background: rgba(189, 251, 116, 0.1);
    border: 1px solid rgb(189, 251, 116);
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.info-box svg {
    width: 20px;
    height: 20px;
}

.info-box p {
    margin: 0;
    font-size: 1rem;
}

.warning-box {
    padding: 10px 20px 15px;
    border-radius: 8px;
    background: rgba(192, 188, 67, 0.07);
    border: 1px solid rgb(236 232 115);
    color: rgb(236 232 115) !important;
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.warning-box svg {
    width: 20px;
    height: 20px;
}

.warning-box p {
    margin: 0;
    font-size: 1rem;
    color: rgb(236 232 115) !important;
}

.warning-box b {
    color: white !important;
}


.next-dialog-parent {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 50px;
}

.next-dialog {
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px;
    background: rgba(189, 251, 116, 0.1);
    border: 1px solid rgb(189, 251, 116);
    width: max-content;
}

.next-dialog div {
    padding: 10px 20px;
}

.next-link, .next-link:hover {
    all: unset;
    cursor: pointer;
}

.next-link:hover, .next-link:hover svg {
    color: #2DF98D;
}

.next-link svg {
    color: rgb(189, 251, 116);
}

.next-link:hover .next-dialog h6 {
    color: white;
}

.next-dialog h5 {
    font-size: 1rem;
    margin-bottom: 0;
}

.next-dialog h6 {
    opacity: 0.8;
    font-size: 0.8rem;
}

.next-dialog .go-button {
    align-self: center;
    padding: 20px 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 768px) {
    .emoji {
        font-size: 5rem;
    }

    #title-text {
        margin-top: 20px;
    }

}
