body {
    font-family: monospace, sans-serif;
    background-color: #222;
    color: #fff;
    margin-top: 230px;
    height: 100vh;
    background-attachment: fixed;
    overflow: hidden;
}


body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221000%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3C%2Fmask%3E%3Cpath d=%22M0 0h2000v1000H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23444%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h100v100H0zM100 0h100v100H100zM200 0h100v100H200zM300 0h100v100H300zM400 0h100v100H400zM500 0h100v100H500zM600 0h100v100H600zM700 0h100v100H700zM800 0h100v100H800zM900 0h100v100H900z%22%2F%3E%3Cpath fill=%22%234444442d%22 d=%22M1000 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 0h100v100h-100zM1200 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444466%22 d=%22M1300 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 0h100v100h-100zM1500 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444a6%22 d=%22M1600 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444ee%22 d=%22M1700 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 0h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444b2%22 d=%22M1900 0h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 100h100v100H0zM100 100h100v100H100zM200 100h100v100H200zM300 100h100v100H300zM400 100h100v100H400zM500 100h100v100H500zM600 100h100v100H600zM700 100h100v100H700zM800 100h100v100H800zM900 100h100v100H900z%22%2F%3E%3Cpath fill=%22%2344444431%22 d=%22M1000 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444462%22 d=%22M1200 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444a4%22 d=%22M1300 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1400 100h100v100h-100zM1500 100h100v100h-100zM1600 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444ce%22 d=%22M1700 100h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444448%22 d=%22M1800 100h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 100h100v100h-100zM0 200h100v100H0zM100 200h100v100H100z%22%2F%3E%3Cpath fill=%22%23444444e5%22 d=%22M200 200h100v100H200z%22%2F%3E%3Cpath fill=%22%234444442a%22 d=%22M300 200h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 200h100v100H400z%22%2F%3E%3Cpath fill=%22%2344444439%22 d=%22M500 200h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 200h100v100H600z%22%2F%3E%3Cpath fill=%22%2344444422%22 d=%22M700 200h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 200h100v100H800zM900 200h100v100H900zM1000 200h100v100h-100zM1100 200h100v100h-100zM1200 200h100v100h-100zM1300 200h100v100h-100zM1400 200h100v100h-100zM1500 200h100v100h-100zM1600 200h100v100h-100zM1700 200h100v100h-100z%22%2F%3E%3Cpath fill=%22%234444444d%22 d=%22M1800 200h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 200h100v100h-100zM0 300h100v100H0zM100 300h100v100H100zM200 300h100v100H200zM300 300h100v100H300zM400 300h100v100H400zM500 300h100v100H500zM600 300h100v100H600zM700 300h100v100H700z%22%2F%3E%3Cpath fill=%22%23444444f1%22 d=%22M800 300h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 300h100v100H900z%22%2F%3E%3Cpath fill=%22%2344444429%22 d=%22M1000 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 300h100v100h-100zM1200 300h100v100h-100zM1300 300h100v100h-100zM1400 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444c6%22 d=%22M1500 300h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444d2%22 d=%22M1600 300h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 300h100v100h-100zM1800 300h100v100h-100zM1900 300h100v100h-100zM0 400h100v100H0z%22%2F%3E%3Cpath fill=%22%2344444493%22 d=%22M100 400h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 400h100v100H200zM300 400h100v100H300zM400 400h100v100H400zM500 400h100v100H500z%22%2F%3E%3Cpath fill=%22%23444444bc%22 d=%22M600 400h100v100H600z%22%2F%3E%3Cpath fill=%22%2344444417%22 d=%22M700 400h100v100H700z%22%2F%3E%3Cpath fill=%22%23444444a9%22 d=%22M800 400h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 400h100v100H900z%22%2F%3E%3Cpath fill=%22%234444442d%22 d=%22M1000 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 400h100v100h-100zM1200 400h100v100h-100zM1300 400h100v100h-100zM1400 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%234444440d%22 d=%22M1500 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444421%22 d=%22M1600 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1700 400h100v100h-100zM1800 400h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444e7%22 d=%22M1900 400h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 500h100v100H0z%22%2F%3E%3Cpath fill=%22%234444449b%22 d=%22M100 500h100v100H100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M200 500h100v100H200z%22%2F%3E%3Cpath fill=%22%2344444496%22 d=%22M300 500h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 500h100v100H400zM500 500h100v100H500zM600 500h100v100H600zM700 500h100v100H700z%22%2F%3E%3Cpath fill=%22%2344444460%22 d=%22M800 500h100v100H800z%22%2F%3E%3Cpath fill=%22none%22 d=%22M900 500h100v100H900zM1000 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444e1%22 d=%22M1100 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 500h100v100h-100zM1300 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444452%22 d=%22M1400 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444495%22 d=%22M1500 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444e5%22 d=%22M1700 500h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444df%22 d=%22M1800 500h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 500h100v100h-100zM0 600h100v100H0zM100 600h100v100H100zM200 600h100v100H200zM300 600h100v100H300zM400 600h100v100H400zM500 600h100v100H500z%22%2F%3E%3Cpath fill=%22%2344444400%22 d=%22M600 600h100v100H600z%22%2F%3E%3Cpath fill=%22none%22 d=%22M700 600h100v100H700zM800 600h100v100H800z%22%2F%3E%3Cpath fill=%22%23444444b2%22 d=%22M900 600h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444a0%22 d=%22M1100 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 600h100v100h-100zM1300 600h100v100h-100zM1400 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444462%22 d=%22M1500 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 600h100v100h-100zM1700 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444e5%22 d=%22M1800 600h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444475%22 d=%22M1900 600h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 700h100v100H0z%22%2F%3E%3Cpath fill=%22%2344444448%22 d=%22M100 700h100v100H100z%22%2F%3E%3Cpath fill=%22%23444444df%22 d=%22M200 700h100v100H200z%22%2F%3E%3Cpath fill=%22none%22 d=%22M300 700h100v100H300zM400 700h100v100H400z%22%2F%3E%3Cpath fill=%22%2344444487%22 d=%22M500 700h100v100H500z%22%2F%3E%3Cpath fill=%22none%22 d=%22M600 700h100v100H600zM700 700h100v100H700zM800 700h100v100H800z%22%2F%3E%3Cpath fill=%22%23444444e0%22 d=%22M900 700h100v100H900z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1000 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444473%22 d=%22M1100 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1200 700h100v100h-100zM1300 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444437%22 d=%22M1400 700h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 700h100v100h-100zM1600 700h100v100h-100zM1700 700h100v100h-100zM1800 700h100v100h-100zM1900 700h100v100h-100z%22%2F%3E%3Cpath fill=%22%234444443a%22 d=%22M0 800h100v100H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M100 800h100v100H100zM200 800h100v100H200z%22%2F%3E%3Cpath fill=%22%23444444b6%22 d=%22M300 800h100v100H300z%22%2F%3E%3Cpath fill=%22none%22 d=%22M400 800h100v100H400zM500 800h100v100H500zM600 800h100v100H600zM700 800h100v100H700zM800 800h100v100H800zM900 800h100v100H900z%22%2F%3E%3Cpath fill=%22%234444440d%22 d=%22M1000 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 800h100v100h-100zM1200 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%234444441a%22 d=%22M1300 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444fc%22 d=%22M1400 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%2344444450%22 d=%22M1500 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1600 800h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444c3%22 d=%22M1700 800h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1800 800h100v100h-100zM1900 800h100v100h-100zM0 900h100v100H0zM100 900h100v100H100zM200 900h100v100H200zM300 900h100v100H300z%22%2F%3E%3Cpath fill=%22%2344444421%22 d=%22M400 900h100v100H400z%22%2F%3E%3Cpath fill=%22none%22 d=%22M500 900h100v100H500zM600 900h100v100H600z%22%2F%3E%3Cpath fill=%22%2344444408%22 d=%22M700 900h100v100H700z%22%2F%3E%3Cpath fill=%22none%22 d=%22M800 900h100v100H800z%22%2F%3E%3Cpath fill=%22%2344444466%22 d=%22M900 900h100v100H900z%22%2F%3E%3Cpath fill=%22%23444444f5%22 d=%22M1000 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1100 900h100v100h-100zM1200 900h100v100h-100zM1300 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%234444446f%22 d=%22M1400 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1500 900h100v100h-100zM1600 900h100v100h-100zM1700 900h100v100h-100z%22%2F%3E%3Cpath fill=%22%23444444ae%22 d=%22M1800 900h100v100h-100z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1900 900h100v100h-100z%22%2F%3E%3C%2Fg%3E%3Cpath fill=%22%23f3f3f3%22 filter=%22url(%23c)%22 opacity=%22.8%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3Cfilter id=%22c%22 x=%22-800%22 y=%22-400%22 width=%222800%22 height=%221400%22 filterUnits=%22userSpaceOnUse%22 primitiveUnits=%22userSpaceOnUse%22 color-interpolation-filters=%22linearRGB%22%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%22.11%22 numOctaves=%224%22 seed=%2215%22 stitchTiles=%22no-stitch%22 x=%220%22 y=%220%22 width=%222000%22 height=%221000%22 result=%22turbulence%22%2F%3E%3CfeSpecularLighting surfaceScale=%2210%22 specularConstant=%22.13%22 specularExponent=%2220%22 lighting-color=%22%23fff%22 x=%220%22 y=%220%22 width=%222000%22 height=%221000%22 in=%22turbulence%22 result=%22specularLighting%22%3E%3CfeDistantLight azimuth=%223%22 elevation=%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

h1 {
    font-size: 5vmin;
}

#glass {
    text-align: center;
    margin-bottom: 65px;
}

form {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 30px;
    margin: auto;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    width: 350px;
    position: relative;
    transition: box-shadow 0.3s ease;
}

input {
    all: unset;
    outline: none;
    background-color: transparent;
    height: 50px;
    width: -webkit-fill-available;
    margin: 2px 60px 2px 20px;
    transition: box-shadow 0.5s linear;
}

#inputForm.shake {
    box-shadow: 0 0 40px rgba(255, 0, 0, 1);
    animation: shake 0.5s infinite;
    color: red;
    border: 2px solid red;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

button {
    position: absolute;
    border-radius: 50%;
    right: 0;
    z-index: 2;
    border: none;
    top: 7px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.08);
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

svg {
    position: absolute;
    display: block;
    width: 50%;
    height: 40%;
    top: 30%;
    left: 25%;
    margin: 0;
    fill: currentColor;
}


@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
