*:not(.navbar) {
    box-sizing: border-box;
    color: white;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-image: linear-gradient(to top, #63037a, #062021);
}

a {
    all: unset;
    color: white;
    text-decoration: underline;
    font-size: 35px;
    cursor: pointer;
}

.copy-button {
    cursor: pointer;
    background: transparent;
    border: none;
    margin-top: 10px;
    border-radius: 10px;
    padding: 7px 7px 4px 7px;
}

.copy-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease-in-out;
}

.copy-button:focus {
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.3s
}

#url-container {
    margin-top: 40px;
}

#short-url a {
    border-radius: 10px;
    padding: 10px 20px 12px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.3s ease-in-out;
}

#short-url a:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

#short-url a {
    font-size: 30px;
    text-decoration: none;
}

#share-buttons {
    border-radius: 10px;
    padding: 10px 5px 0.5px 5px;
    width: 308px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.15);
}

.share-button {
    margin: 0 auto;
    margin-left: 5px;
    padding: 4px;
}

.share-button:hover {

    transition: 0.15s linear;
    transform: scale(1.1);
}


#qr-code-container {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container>* {
    flex: 0 0 auto;
    margin: 10px;
}

.qrcode {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#short-another-button {
    background-color: #333;
    border: none;
    padding: 14px 30px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    margin-top: -15px;
}

#short-another-button:hover {
    background-color: #555;
    background-color: rgba(255, 255, 255, 0.25);
}

#qr-code-button {
    background-color: #333;
    border: none;
    padding: 14px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

#qr-code-button:hover {
    background-color: #555;
    background-color: rgba(255, 255, 255, 0.25);
}

#qr-code-container {
    text-align: center;
}

#download-qr-button {
    margin-top: 10px;
}

.for-middle {
    text-align: center;
}

@media screen and (max-width: 800px) {
    #short-url a {
        font-size: 22px;
    }

    .sharethis-inline-share-buttons {
        padding: 15px 10px;
    }

    a {
        font-size: 20px;
    }
}

@media only screen and (min-width: 960px) {
    #short-url {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}