body {
    background-image: linear-gradient(0deg, #863375, #43127b);
    color: white;
}

button[type="submit"]:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
}

form {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
}


label {
    display: block;
    margin-bottom: 12px;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
    color: rgba(255, 255, 255, 0.6)
}

input:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
input[type="number"]:focus::placeholder {
    color: #ccc;
}

button[type="submit"] {
    background-color: #333;
    border: none;
    padding: 14px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #555;
    background-color: rgba(255, 255, 255, 0.25);

}

h1 {
    text-align: center;
}

#password-error {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.15);
}

#url-error {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    transition: all 0.3s ease-in-out;
    margin-top: -30px;
}