body {
    background-image: linear-gradient(0deg, #660652, #43127b);
    color: white;
}

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23150521%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%234c4e72%22 stroke-width=%222%22 mask=%22url(%23b)%22%3E%3Cpath fill=%22none%22 d=%22M0 0h118v118H0z%22%2F%3E%3Cpath fill=%22%234c4e7229%22 d=%22M118 0h118v118H118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M236 0h118v118H236zM354 0h118v118H354z%22%2F%3E%3Cpath fill=%22%234c4e72e1%22 d=%22M472 0h118v118H472z%22%2F%3E%3Cpath fill=%22none%22 d=%22M590 0h118v118H590z%22%2F%3E%3Cpath fill=%22%234c4e720c%22 d=%22M708 0h118v118H708z%22%2F%3E%3Cpath fill=%22none%22 d=%22M826 0h118v118H826zM944 0h118v118H944z%22%2F%3E%3Cpath fill=%22%234c4e725e%22 d=%22M1062 0h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1180 0h118v118h-118zM1298 0h118v118h-118zM1416 0h118v118h-118zM1534 0h118v118h-118zM1652 0h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e724c%22 d=%22M1770 0h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1888 0h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7229%22 d=%22M0 118h118v118H0z%22%2F%3E%3Cpath fill=%22%234c4e72c8%22 d=%22M118 118h118v118H118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M236 118h118v118H236zM354 118h118v118H354zM472 118h118v118H472zM590 118h118v118H590zM708 118h118v118H708zM826 118h118v118H826zM944 118h118v118H944zM1062 118h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7215%22 d=%22M1180 118h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1298 118h118v118h-118zM1416 118h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7285%22 d=%22M1534 118h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72cd%22 d=%22M1652 118h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72de%22 d=%22M1770 118h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1888 118h118v118h-118zM0 236h118v118H0zM118 236h118v118H118zM236 236h118v118H236z%22%2F%3E%3Cpath fill=%22%234c4e7289%22 d=%22M354 236h118v118H354z%22%2F%3E%3Cpath fill=%22none%22 d=%22M472 236h118v118H472zM590 236h118v118H590zM708 236h118v118H708zM826 236h118v118H826zM944 236h118v118H944z%22%2F%3E%3Cpath fill=%22%234c4e72c3%22 d=%22M1062 236h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1180 236h118v118h-118zM1298 236h118v118h-118zM1416 236h118v118h-118zM1534 236h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72bc%22 d=%22M1652 236h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1770 236h118v118h-118zM1888 236h118v118h-118zM0 354h118v118H0zM118 354h118v118H118z%22%2F%3E%3Cpath fill=%22%234c4e72a8%22 d=%22M236 354h118v118H236z%22%2F%3E%3Cpath fill=%22none%22 d=%22M354 354h118v118H354zM472 354h118v118H472z%22%2F%3E%3Cpath fill=%22%234c4e7220%22 d=%22M590 354h118v118H590z%22%2F%3E%3Cpath fill=%22%234c4e72b1%22 d=%22M708 354h118v118H708z%22%2F%3E%3Cpath fill=%22%234c4e72eb%22 d=%22M826 354h118v118H826z%22%2F%3E%3Cpath fill=%22none%22 d=%22M944 354h118v118H944zM1062 354h118v118h-118zM1180 354h118v118h-118zM1298 354h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7204%22 d=%22M1416 354h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1534 354h118v118h-118zM1652 354h118v118h-118zM1770 354h118v118h-118zM1888 354h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e729c%22 d=%22M0 472h118v118H0z%22%2F%3E%3Cpath fill=%22none%22 d=%22M118 472h118v118H118zM236 472h118v118H236zM354 472h118v118H354z%22%2F%3E%3Cpath fill=%22%234c4e7272%22 d=%22M472 472h118v118H472z%22%2F%3E%3Cpath fill=%22none%22 d=%22M590 472h118v118H590z%22%2F%3E%3Cpath fill=%22%234c4e723f%22 d=%22M708 472h118v118H708z%22%2F%3E%3Cpath fill=%22none%22 d=%22M826 472h118v118H826zM944 472h118v118H944zM1062 472h118v118h-118zM1180 472h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7234%22 d=%22M1298 472h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e728a%22 d=%22M1416 472h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1534 472h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e724c%22 d=%22M1652 472h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1770 472h118v118h-118zM1888 472h118v118h-118zM0 590h118v118H0zM118 590h118v118H118z%22%2F%3E%3Cpath fill=%22%234c4e72e1%22 d=%22M236 590h118v118H236z%22%2F%3E%3Cpath fill=%22none%22 d=%22M354 590h118v118H354z%22%2F%3E%3Cpath fill=%22%234c4e72cd%22 d=%22M472 590h118v118H472z%22%2F%3E%3Cpath fill=%22%234c4e72ec%22 d=%22M590 590h118v118H590z%22%2F%3E%3Cpath fill=%22none%22 d=%22M708 590h118v118H708zM826 590h118v118H826z%22%2F%3E%3Cpath fill=%22%234c4e724b%22 d=%22M944 590h118v118H944z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1062 590h118v118h-118zM1180 590h118v118h-118zM1298 590h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7250%22 d=%22M1416 590h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1534 590h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72a2%22 d=%22M1652 590h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1770 590h118v118h-118zM1888 590h118v118h-118zM0 708h118v118H0zM118 708h118v118H118z%22%2F%3E%3Cpath fill=%22%234c4e72b9%22 d=%22M236 708h118v118H236z%22%2F%3E%3Cpath fill=%22none%22 d=%22M354 708h118v118H354z%22%2F%3E%3Cpath fill=%22%234c4e722b%22 d=%22M472 708h118v118H472z%22%2F%3E%3Cpath fill=%22none%22 d=%22M590 708h118v118H590z%22%2F%3E%3Cpath fill=%22%234c4e72aa%22 d=%22M708 708h118v118H708z%22%2F%3E%3Cpath fill=%22none%22 d=%22M826 708h118v118H826z%22%2F%3E%3Cpath fill=%22%234c4e7265%22 d=%22M944 708h118v118H944z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1062 708h118v118h-118zM1180 708h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7265%22 d=%22M1298 708h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1416 708h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7230%22 d=%22M1534 708h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1652 708h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7216%22 d=%22M1770 708h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1888 708h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7232%22 d=%22M0 826h118v118H0z%22%2F%3E%3Cpath fill=%22%234c4e729b%22 d=%22M118 826h118v118H118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M236 826h118v118H236zM354 826h118v118H354zM472 826h118v118H472z%22%2F%3E%3Cpath fill=%22%234c4e7257%22 d=%22M590 826h118v118H590z%22%2F%3E%3Cpath fill=%22none%22 d=%22M708 826h118v118H708z%22%2F%3E%3Cpath fill=%22%234c4e729a%22 d=%22M826 826h118v118H826z%22%2F%3E%3Cpath fill=%22%234c4e723d%22 d=%22M944 826h118v118H944z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1062 826h118v118h-118zM1180 826h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e721c%22 d=%22M1298 826h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7219%22 d=%22M1416 826h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7257%22 d=%22M1534 826h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1652 826h118v118h-118zM1770 826h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e7208%22 d=%22M1888 826h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 944h118v118H0zM118 944h118v118H118zM236 944h118v118H236z%22%2F%3E%3Cpath fill=%22%234c4e721d%22 d=%22M354 944h118v118H354z%22%2F%3E%3Cpath fill=%22none%22 d=%22M472 944h118v118H472zM590 944h118v118H590z%22%2F%3E%3Cpath fill=%22%234c4e7222%22 d=%22M708 944h118v118H708z%22%2F%3E%3Cpath fill=%22none%22 d=%22M826 944h118v118H826zM944 944h118v118H944zM1062 944h118v118h-118zM1180 944h118v118h-118zM1298 944h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e724b%22 d=%22M1416 944h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1534 944h118v118h-118zM1652 944h118v118h-118zM1770 944h118v118h-118zM1888 944h118v118h-118zM0 1062h118v118H0zM118 1062h118v118H118zM236 1062h118v118H236z%22%2F%3E%3Cpath fill=%22%234c4e72fe%22 d=%22M354 1062h118v118H354z%22%2F%3E%3Cpath fill=%22none%22 d=%22M472 1062h118v118H472zM590 1062h118v118H590zM708 1062h118v118H708z%22%2F%3E%3Cpath fill=%22%234c4e7284%22 d=%22M826 1062h118v118H826z%22%2F%3E%3Cpath fill=%22none%22 d=%22M944 1062h118v118H944z%22%2F%3E%3Cpath fill=%22%234c4e7250%22 d=%22M1062 1062h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1180 1062h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e725c%22 d=%22M1298 1062h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72fa%22 d=%22M1416 1062h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72d9%22 d=%22M1534 1062h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1652 1062h118v118h-118zM1770 1062h118v118h-118zM1888 1062h118v118h-118zM0 1180h118v118H0z%22%2F%3E%3Cpath fill=%22%234c4e7200%22 d=%22M118 1180h118v118H118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M236 1180h118v118H236zM354 1180h118v118H354z%22%2F%3E%3Cpath fill=%22%234c4e7283%22 d=%22M472 1180h118v118H472z%22%2F%3E%3Cpath fill=%22none%22 d=%22M590 1180h118v118H590zM708 1180h118v118H708z%22%2F%3E%3Cpath fill=%22%234c4e72eb%22 d=%22M826 1180h118v118H826z%22%2F%3E%3Cpath fill=%22%234c4e72f2%22 d=%22M944 1180h118v118H944z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1062 1180h118v118h-118zM1180 1180h118v118h-118zM1298 1180h118v118h-118zM1416 1180h118v118h-118zM1534 1180h118v118h-118zM1652 1180h118v118h-118zM1770 1180h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72c3%22 d=%22M1888 1180h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M0 1298h118v118H0z%22%2F%3E%3Cpath fill=%22%234c4e7207%22 d=%22M118 1298h118v118H118z%22%2F%3E%3Cpath fill=%22%234c4e728e%22 d=%22M236 1298h118v118H236z%22%2F%3E%3Cpath fill=%22none%22 d=%22M354 1298h118v118H354zM472 1298h118v118H472zM590 1298h118v118H590zM708 1298h118v118H708zM826 1298h118v118H826zM944 1298h118v118H944zM1062 1298h118v118h-118zM1180 1298h118v118h-118zM1298 1298h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e722f%22 d=%22M1416 1298h118v118h-118z%22%2F%3E%3Cpath fill=%22%234c4e72b5%22 d=%22M1534 1298h118v118h-118z%22%2F%3E%3Cpath fill=%22none%22 d=%22M1652 1298h118v118h-118zM1770 1298h118v118h-118zM1888 1298h118v118h-118z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
  }



button[type="submit"]:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

label {
    display: block;
    margin: 0 20px;
    margin-bottom: 80px;
    color: white;
    text-align: center;
    font-size: 4vmin;
    font-family: monospace;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.6)
}

.buttonIn {
    border-radius: 40px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(40px);
    width: max-content;
}

.buttonIn.shake {
    box-shadow: 0 0 40px rgba(255, 0, 0, 1);
    animation: shake 0.5s infinite;
    color: red;
    border: 2px solid red;
}

.buttonIn.focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}

#short_code {
    background: transparent;
    border: none;
    padding-left: 3px;
    border-radius: 0;
    backdrop-filter: none;
    margin-bottom: 0;
    font-size: 3vmin;
    color: #fff;
    font-family: monospace, Helvetica, sans-serif;
}

#short_code:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#input-prefix {
    height: 53px;
    font-family: monospace, Helvetica, sans-serif;
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 18px;
    padding-left: 20px;
}

button[type="submit"] {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    margin: 0 10px;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

svg {
    display: block;
    fill: white;
    height: 20px;
    width: 20px;
}

#password {
    display: block;
    width: 350px;
    font-size: 3vmin;
    color: #fff;
    font-family: monospace, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(40px);
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 40px;
}

#password.shake {
    box-shadow: 0 0 40px rgba(255, 0, 0, 1);
    animation: shake 0.5s infinite;
    color: red;
    border: 2px solid red;
}

#password:focus {
    outline: none;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}


@media screen and (max-width: 600px) {
    form {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    label {
        font-size: 4vmin;
    }

    #password {
        width: 200px;
        height: 40px;
    }

    #input-prefix {
        height: 40px;
    }

    #short_code {
        width: 100px;
    }

    button[type="submit"] {
        height: 30px;
        width: 30px;
    }

    svg {
        height: 30px;
        width: 30px;
    }

}