body {
    background-image: linear-gradient(355deg, #2f281f, #250096);
    padding: 0;
}

.navbar {
    margin: 0;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

p {
    -ms-overflow-style: none;
}

p::-webkit-scrollbar {
    display: none;
}

p::-webkit-scrollbar-track {
    background-color: transparent;
}

.wrapper {
    padding: 0 20px;
}

.main-data-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.main-data,
.clicks-data,
.browsers-data,
.os-data,
.referrer-data,
.country-data,
.average-data,
.bots-data,
.qr-code {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    border: rgba(255, 255, 255, 0.05) 1px solid;
    flex-basis: 49.5%;
    margin-bottom: 20px;
    width: -webkit-fill-available;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chart-container {
    height: 320px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.125);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-top: 20px;
}

.anychart-button:hover {
    background: rgba(255, 255, 255, 0.25);
}

.anychart-credits {
    display: none;
}

#country-container div {
    border-radius: 5px;
}

.json-data {
    white-space: pre-wrap;
    font-family: monospace;
    background-color: #262625;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid transparent;
    height: 255px;
    overflow: auto;
    color: white;
}

.counterJsonPre,
.browserJsonPre,
.osJsonPre,
.countryJsonPre,
.referrerJsonPre,
.analysisJsonPre,
.botsJsonPre {
    display: none;
}

.json-data::-webkit-scrollbar {
    width: 10px;
}

.json-data::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.json-data::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.json-data::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

select,
button:not(.burger) {
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0px, rgba(0, 0, 0, 0.06) 0 0 0 1px;
}

select:focus {
    outline: none;
}

select:hover {
    cursor: pointer;
}

#url_long_code {
    max-width: 70%;
    display: inline-flex;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 30px;
    white-space: normal;
    word-break: break-all;
}

#url_long_code::-webkit-scrollbar {
    display: none;
}

#url_long_code::-webkit-scrollbar-track {
    background-color: transparent;
}

#countryChart,
#referrerChart,
#browserChart,
#osChart,
#counterChart,
#analysisChart,
#botsChart {
    height: -webkit-fill-available;
}

.qr-code {
    text-align: center;
}

.export-data-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 20px;
}

.export-data-wrapper .button-pair {
    display: flex;
    gap: 20px;
    flex-basis: calc(50% - 10px); /* Subtract half of the gap size */
    justify-content: space-between;
}

.export-data-wrapper button {
    font-family: 'Allerta Stencil', sans-serif;
    flex: 1;
    margin: 0;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 12px;
    border: 0;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.qr-code-upper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.qrcode {
    height: 230px;
    width: 230px;
    border-radius: 15px;
}

#qr-code-container {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0px, rgba(0, 0, 0, 0.06) 0 0 0 1px;
    animation: loading 1.5s infinite;
}

#qrcode-overlay {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: -webkit-fill-available;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: saturate(1.5) blur(10px);
    border-radius: 15px;
    color: white;
    letter-spacing: 1.8px;
    animation: fade-in 0.3s ease;
}


h2 {
    color: white;
    padding-bottom: 10px;
    font-weight: 400;
    margin: 0;
}

p {
    margin-bottom: 20px;
    color: white;
    font-size: 17px;
}

.main-data-heading {
    margin-bottom: 20px;
}

button {
    padding: 10px 10px;
    border-radius: 12px;
    margin-left: 10px;
    border: 0;
    color: white;
    background: rgba(255, 255, 255, 0.15);
}

button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    transition: background-color 0.2s ease-in-out;
}

#counterOption,
#browserDataOption,
#osDataOption,
#countryDataOption,
#referrerDataOption,
#counterDataOption {
    padding: 10px 8px;
    border-radius: 12px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
    margin-left: 10px;
    border: 0;
}

#counterOption:hover,
#browserDataOption:hover,
#osDataOption:hover,
#countryDataOption:hover,
#referrerDataOption:hover,
#counterDataOption:hover {
    background: rgba(255, 255, 255, 0.25);
    transition: background-color 0.2s ease-in-out;
}

option {
    color: black;
}

code {
    background-color: rgba(225, 225, 225, 0.125);
    border-radius: 10px;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
}

#url_long_input {
    background: none;
    border: none;
    color: white;
    width: 50%;
    font-size: 16px;
}

#last_click_long_input {
    background: none;
    border: none;
    color: white;
    max-width: 50%;
    font-size: 15px;
}

input:focus {
    all: unset;
}

h3 {
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.125);
}

@keyframes loading {
    0% {
        background-color: rgba(255, 255, 255, 0.05);
    }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
    }

    100% {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1350px) and (min-width: 601px) {

    .charts-container,
    .main-data-container {
        flex-wrap: wrap;
    }

    /* .chart-container, */
    /* .data-container {
        flex-basis: 49.5%;
        max-width: 90%;
    } */
}

@media screen and (max-width: 1000px) {
    .charts-container {
        flex-direction: column;
    }

    .main-data-container {
        flex-direction: column;
    }

    .chart-container {
        margin-left: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    body {
        padding: 0;
        padding-top: 0;
    }

    .wrapper {
        padding: 0 5px;
    }

    .main-data p,
    .clicks-data p {
        font-size: 14px;
    }

    /* .main-data,
    .clicks-data,
    .browsers-data,
    .os-data,
    .referrer-data,
    .country-data,
    .average-data,
    .bots-data,
    .qr-code {
        margin: 0 auto 20px;
        width: 100%;
    } */

    /* .charts-container,
    .main-data-container {
        flex-direction: column;
        padding: 0 10px;
    } */

    .json-data {
        height: 150px;
    }

    /* #countryJson,
    #referrerJson,
    #browserJson,
    #osJson,
    #counterJson,
    #analysisJson,
    #botsJson {
        height: 250px;
    } */

    /* #url_long_code {
        max-width: 50%;
    } */

    #url_long_input {
        max-width: 45%;
    }

    .export-data-wrapper .button-pair {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    .main-data-container {
        margin-top: 40px;
    }
}
