body {
    background-image: linear-gradient(0deg, #660652, #43127b);
    color: white;
}


button[type="submit"]:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

label {
    display: block;
    margin: 0 20px;
    margin-bottom: 80px;
    color: white;
    text-align: center;
    font-size: 4vmin;
    font-family: monospace;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.6)
}

.buttonIn {
    border-radius: 40px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(40px);
    width: max-content;
}

.buttonIn.shake {
    box-shadow: 0 0 40px rgba(255, 0, 0, 1);
    animation: shake 0.5s infinite;
    color: red;
    border: 2px solid red;
}

.buttonIn.focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}

#short_code {
    background: transparent;
    border: none;
    padding-left: 3px;
    border-radius: 0;
    backdrop-filter: none;
    margin-bottom: 0;
    font-size: 3vmin;
    color: #fff;
    font-family: monospace, Helvetica, sans-serif;
}

#short_code:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#input-prefix {
    height: 53px;
    font-family: monospace, Helvetica, sans-serif;
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 18px;
    padding-left: 20px;
}

button[type="submit"] {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    margin: 0 10px;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

svg {
    display: block;
    fill: white;
    height: 20px;
    width: 20px;
}

#password {
    display: block;
    width: 350px;
    font-size: 3vmin;
    color: #fff;
    font-family: monospace, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(40px);
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 40px;
}

#password.shake {
    box-shadow: 0 0 40px rgba(255, 0, 0, 1);
    animation: shake 0.5s infinite;
    color: red;
    border: 2px solid red;
}

#password:focus {
    outline: none;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}


@media screen and (max-width: 600px) {
    form {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    label {
        font-size: 4vmin;
    }

    #password {
        width: 200px;
        height: 40px;
    }

    #input-prefix {
        height: 40px;
    }

    #short_code {
        width: 100px;
    }

    button[type="submit"] {
        height: 30px;
        width: 30px;
    }

    svg {
        height: 30px;
        width: 30px;
    }

}