<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>spoo.me - API Documentation</title>
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Access the full power of spoo.me’s URL shortener service with our API. You can create and manage short links programmatically with our simple and secure API. You can also retrieve the statistics of your links with our API and analyze the data with our user-friendly interface. Explore the possibilities and enhance your online presence with spoo.me. 🚀" />
    <link rel="canonical" href="https://spoo.me/api">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="API Documentation - spoo.me">
    <meta property="og:description"
        content="Access the full power of spoo.me’s URL shortener service with our API. You can create and manage short links programmatically with our simple and secure API. You can also retrieve the statistics of your links with our API and analyze the data with our user-friendly interface. Explore the possibilities and enhance your online presence with spoo.me. 🚀">
    <meta property="og:image:url" content="https://spoo.me/static/images/api-banner.webp">
    <meta property="og:url" content="https://spoo.me/api">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="API Documentation - spoo.me">
    <meta name="twitter:description"
        content="Access the full power of spoo.me’s URL shortener service with our API. You can create and manage short links programmatically with our simple and secure API. You can also retrieve the statistics of your links with our API and analyze the data with our user-friendly interface. Explore the possibilities and enhance your online presence with spoo.me. 🚀">
    <meta name="twitter:image" content="https://spoo.me/static/images/api-banner.webp">
    <meta property="twitter:domain" content="https://spoo.me">

    <meta content="#f893b2" name="theme-color">
    <meta name="moz-appearance" content="#f893b2">
    <meta content="#f893b2" name="msapplication-TileColor">

    <!-- Include necessary CSS and JavaScript libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/prismjs@1.24.0/plugins/line-numbers/prism-line-numbers.min.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/api.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/synthwave-84.css') }}">

</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}" alt="Spoo.me Banner Image">
        <div class="links">
            <ul>
                <li><a href="/">Shorten</a></li>
                <li><a href="#" class="active">API</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
                </li>
                <li><a href="mailto:support@spoo.me">Contact ↗</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar" style="z-index: 100;">
        <div class="mobile-logo">
            <a href="/"><img class="mobile-logo-image" src="https://spoo.me/static/images/text.png"
                    alt="Spoo.me Banner Image"></a>
        </div>
        <button type="button" class="burger" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="mobile-menu">
            <li><a href="/" class="active">Shorten</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
            </li>
            <li><a href="mailto:support@spoo.me">Contact ↗</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="container mt-4">
        <h2 id="title-text">URL Shortener API Documentation</h2>
        <p>Welcome to the URL Shortener API documentation. This page provides information on how to use the API to
            shorten URLs and retrieve analytics.</p>

        <p><strong>Base URL:</strong> <code>https://spoo.me</code></p>
        <p><strong>API Version:</strong> <code>v1</code></p>


        <br>
        <hr>
        <br>

        <h1 style="text-align: center;">API Endpoints</h1>
        <br>

        <h4>Shorten a URL</h4>
        <br>
        <p>This endpoint is used to shorten a URL. The request payload must contain the URL to be shortened. The
            response contains the shortened URL.</p>

        <p><strong>Endpoint:</strong> <code> POST / </code></p>
        <br>

        <h5>Payload</h5>
        <p>The following payloads are used in the API requests and responses:</p>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Payload</th>
                    <th>Data Type</th>
                    <th>Description</th>
                    <th>Required</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>url</td>
                    <td>String</td>
                    <td>The long URL to be shortened.</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>alias</td>
                    <td>String</td>
                    <td>Custom alias for the shortened URL.</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>String</td>
                    <td>Password to access the shortened URL.</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td>max-clicks</td>
                    <td>Integer</td>
                    <td>Maximum number of clicks allowed for the shortened URL.</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
        <br>

        <h5>Headers</h5>
        <p>The following headers are used in the API requests and responses:</p>

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Header</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>Accept</code></td>
                    <td>Specifies the format of the request payload. Accepted values: <code>application/json</code> *
                    </td>
                </tr>
            </tbody>
        </table>
        <p> * If the header is not specified, the response will be in HTML format.</p>
        <br>
        <p><strong>Example Request: (Python)</strong></p>
        <pre class="line-numbers">
<code class="language-python" id="shorten-code">import requests
import json

url = "https://spoo.me"

# Replace these with your actual values
payload = {
    "url": "https://example.com",
    "alias": "example",  # you can choose any other alias
    "max-clicks": 10,
    "password": "SuperStrongPassword@18322"
}

# Necessary to get a non-html response
headers = {
    "Accept": "application/json"
}

response = requests.post(url, data=payload, headers=headers)

if response.status_code == 200:
    # If the request was successful, print the shortened URL
    shortened_url = response.json()
else:
    # If the request failed, print the error message
    print(f"Error: {response.status_code}")
    print(response.text)
        </code></pre>

        <p><strong>Example Response:</strong></p>
        <pre style="max-height: 300px;" class="line-numbers">
<code class="language-json">{'short_url': 'https://spoo.me/example'}</code></pre>

        <br>

        <h5>Errors</h5>
        <p>This section provides information about the various errors that could occur while making requests through
            this endpoint.</p>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Error Name</th>
                    <th>Code</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>UrlError</code></td>
                    <td>400</td>
                    <td>The request contains an invalid url.</td>
                </tr>
                <tr>
                    <td><code>AliasError</code></td>
                    <td>400</td>
                    <td>The User requested Alias is not avalibale or already taken.</td>
                </tr>
                <tr>
                    <td><code>PasswordError</code></td>
                    <td>400</td>
                    <td>The user entered password must be atleast 8 characters long, must contain a letter and a number
                        and a special character either '@' or '.' and cannot be consecutive.</td>
                </tr>
                <tr>
                    <td><code>MaxClicksError</code></td>
                    <td>400</td>
                    <td>The user entered max-clicks is not a positive integer.</td>
                </tr>
                <!-- Add more error codes and descriptions as needed -->
            </tbody>
        </table>

        <br>
        <hr>
        <br>

        <h4>URL Statistics</h4>
        <br>

        <p>This endpoint is used to retrieve statistics about a shortened URL. The request must contain the short code
            of the URL. The response contains the statistics.</p>

        <p><strong>Endpoint:</strong> <code>POST</code> /stats/{shortCode}</p>
        <br>

        <h5>Payload</h5>
        <p>The following payloads are used in the API requests and responses:</p>

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Payload</th>
                    <th>Description</th>
                    <th>Required</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>password</td>
                    <td>Password of the shortened url if any.</td>
                    <td>Optional *</td>
                </tr>
            </tbody>
        </table>
        <p>* if the Short Url is password protected then the password parameter is a <b>must</b>.</p>
        <br>

        <p><strong>Example Request: (Python)</strong></p>
        <pre class="line-numbers">
<code class="language-python" id="stats-code">import requests
import json

# Replace these with your actual values
short_code = "exa"
password = "Example@12"
base_url = "https://spoo.me"

payload = {
    "password": password
}

# Make the request
response = requests.post(
    f"{base_url}/stats/{short_code}",
    data = payload
)

# Check the response
if response.status_code == 200:
    # If the request was successful, print the URL statistics
    url_stats = response.json()
    print(json.dumps(url_stats, indent=4))
else:
    # If the request failed, print the error message
    print(f"Error: {response.status_code}")
    print(response.text)</code>
</pre>

        <p><strong>Example Response:</strong></p>
        <pre style="max-height: 300px;" class="line-numbers">
<code class="language-json">{
    "_id": "exa",
    "average_daily_clicks": 1.0,
    "average_monthly_clicks": 0.03,
    "average_weekly_clicks": 0.14,
    "browser": {
        "Edge": 1
    },
    "counter": {
        "2023-12-18": 1
    },
    "country": {
        "France": 1
    },
    "creation-date": "2023-12-18",
    "expired": null,
    "last-click": "2023-12-18 22:06:02.298005+00:00",
    "last-click-browser": "Edge",
    "last-click-os": "Windows",
    "max-clicks": null,
    "os_name": {
        "Windows": 1
    },
    "password": "Example@12",
    "referrer": {
        "spoo.me": 1
    },
    "short_code": "exa",
    "total-clicks": 1,
    "total_unique_clicks": 1,
    "unique_browser": {
        "Edge": 1
    },
    "unique_counter": {
        "2023-12-18": 1
    },
    "unique_country": {
        "France": 1
    },
    "unique_os_name": {
        "Windows": 1
    },
    "unique_referrer": {
        "spoo.me": 1
    },
    "url": "https://example.com"
}
</code></pre>

        <br>

        <h5>Response</h5>
        <p>The following parameters are used in the API requests and responses:</p>

        <table class="custom-table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Data Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>_id</code></td>
                    <td>Str</td>
                    <td>The Short Code of the Short Link.</td>
                </tr>
                <tr>
                    <td><code>average_daily_clicks</code></td>
                    <td>Float</td>
                    <td>Average Clicks per day since the link was created.</td>
                </tr>
                <tr>
                    <td><code>average_monthly_clicks</code></td>
                    <td>Float</td>
                    <td>Average Clicks per month since the link was created.</td>
                </tr>
                <tr>
                    <td><code>average_weekly_clicks</code></td>
                    <td>Float</td>
                    <td>Average Clicks per week since the link was created.</td>
                </tr>
                <tr>
                    <td><code>browser</code></td>
                    <td>Dict</td>
                    <td>Data about the Browsers in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>creation-date</code></td>
                    <td>Str</td>
                    <td>Date when the short link was created.</td>
                </tr>
                <tr>
                    <td><code>counter</code></td>
                    <td>Dict</td>
                    <td>Data about the clicks per day since the link was created.</td>
                </tr>
                <tr>
                    <td><code>country</code></td>
                    <td>Dict</td>
                    <td>Data about the Countries in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>expired*</code></td>
                    <td>Bool</td>
                    <td>Tells whether the link has expired or not.</td>
                </tr>
                <tr>
                    <td><code>last-click</code></td>
                    <td>Str</td>
                    <td>Last Time when the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>last-click-browser</code></td>
                    <td>Str</td>
                    <td>Last Browser in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>last-click-os</code></td>
                    <td>Str</td>
                    <td>Last Os name in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>max-clicks*</code></td>
                    <td>Str</td>
                    <td>Information about the Max Clicks set my the User on the Short Link.</td>
                </tr>
                <tr>
                    <td><code>os_name</code></td>
                    <td>Dict</td>
                    <td>Data about the Os names in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>password*</code></td>
                    <td>Str</td>
                    <td>The password set by the User on the Short Link.</td>
                </tr>
                <tr>
                    <td><code>short_code</code></td>
                    <td>Str</td>
                    <td>The Short Code of the Short Link.</td>
                </tr>
                <tr>
                    <td><code>total-clicks</code></td>
                    <td>Int</td>
                    <td>Count of the total clicks made since the short link was created.</td>
                </tr>
                <tr>
                    <td><code>total_unique_clicks</code></td>
                    <td>Int</td>
                    <td>Count of the total unique clicks made since the short link was created.</td>
                </tr>

                <tr>
                    <td><code>unique_browser</code></td>
                    <td>Dict</td>
                    <td>Data about the Unique Browsers in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>unique_counter</code></td>
                    <td>Dict</td>
                    <td>Data about the Unique clicks per day since the link was created.</td>
                </tr>
                <tr>
                    <td><code>unique_country</code></td>
                    <td>Dict</td>
                    <td>Data about the Unique Countries in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>unique_os_name</code></td>
                    <td>Dict</td>
                    <td>Data about the Unique Os names in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>unique_referrer</code></td>
                    <td>Dict</td>
                    <td>Data about the Unique Referrers in which the short link was accessed.</td>
                </tr>
                <tr>
                    <td><code>url</code></td>
                    <td>Str</td>
                    <td>Original Long Url which the short link redirects to.</td>
                </tr>

            </tbody>
        </table>
        <p>* <b>Null (None)</b> if the Short link didnt have max-clicks set or was not password protected.</p>

        <br>

        <h5>Stats Errors</h5>
        <p>This section provides information about the various errors that could occur while making requests through the
            API.</p>
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Error Name</th>
                    <th>Code</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>UrlError</code></td>
                    <td>404</td>
                    <td>The user requested Url never existed.</td>
                </tr>
                <tr>
                    <td><code>PasswordError</code></td>
                    <td>400</td>
                    <td>The user entered password is invalid.</td>
                </tr>
            </tbody>
        </table>

        <br>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-python.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-json.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.0/plugins/line-numbers/prism-line-numbers.min.js"></script>

</body>

</html>