<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='images/favicon.png') }}" />

    <title>{% block title %}spoo.me{% endblock %}</title>

    {% block meta %}{% endblock %}

    <link rel="stylesheet" href="{{ url_for('static', path='css/base.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', path='css/header.css') }}?v=9">
    <link rel="stylesheet" href="{{ url_for('static', path='css/mobile-header.css') }}?v=7">
    <link rel="stylesheet" href="{{ url_for('static', path='css/contacts-modal.css') }}?v=9">
    <link rel="stylesheet" href="{{ url_for('static', path='css/notifications.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', path='css/auth.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', path='css/auth-modal.css') }}?v=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">

    {% include 'partials/analytics.html' %}

    {% block head_css %}{% endblock %}
</head>

<body>
    {% block setup %}{% endblock %}
    {% include 'partials/self_promo.html' %}
    {% include 'partials/navbar.html' %}
    {% include 'partials/mobile_navbar.html' %}
    {% include 'partials/contact_modal.html' %}
    {% include 'partials/auth_modal.html' %}

    {% block pre_body %}{% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    <script src="{{ url_for('static', path='js/notifications.js') }}?v=1" defer></script>
    <script src="{{ url_for('static', path='js/contacts-popup.js') }}?v=1" defer></script>
    <script src="{{ url_for('static', path='js/header.js') }}?v=7" defer></script>
    <script src="{{ url_for('static', path='js/auth.js') }}?v=3" defer></script>

    {% block scripts %}{% endblock %}
</body>

</html>