<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact us - spoo.me</title>
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Contact us at spoo.me for any queries, feedback, or support. We are always here to help you out.">
    <link rel="canonical" href="https://spoo.me/contact">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spoo.me/contact" />
    <meta property="og:title" content="Contact us - spoo.me" />
    <meta property="og:description"
        content="Contact us at spoo.me for any queries, feedback, or support. We are always here to help you out." />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://spoo.me/contact" />
    <meta property="twitter:title" content="Contact us - spoo.me" />
    <meta property="twitter:description"
        content="Contact us at spoo.me for any queries, feedback, or support. We are always here to help you out." />
    <meta property="twitter:domain" content="https://spoo.me">

    <meta content="#662ff4" name="theme-color">
    <meta name="moz-appearance" content="#662ff4">
    <meta content="#662ff4" name="msapplication-TileColor">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customNotification.css') }}?v=4">

    <script src="{{ url_for('static', filename='js/customNotification.js') }}?v=3"></script>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>

</head>

<body>
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}" alt="Spoo.me Banner Image"
            loading="lazy">
        <div class="links">
            <ul>
                <li><a href="/">Shorten</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/report">Report URL</a></li>
                <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
                </li>
                <li><a href="#" class="active">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar">
        <div class="mobile-logo">
            <a href="/"><img class="mobile-logo-image" src="https://spoo.me/static/images/text.png"
                    alt="Spoo.me Banner Image" loading="lazy"></a>
        </div>
        <button type="button" class="burger" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="mobile-menu">
            <li><a href="/">Shorten</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/report">Report URL</a></li>
            <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
            </li>
            <li><a href="#" class="active">Contact</a></li>
        </ul>
    </div>

    <h1 style="font-weight: bold;">Contact us</h1>

    <form action="/contact" method="post" onsubmit="return validateEmail() && validateMessage();">
        <p id="url-error"></p>

        {% if error %}
        <script>
            customTopNotification("Error", "{{ error }}", 10, "error");
        </script>
        {% endif %}

        {% if success %}
        <script>
            customTopNotification("Success", "{{ success }}", 10, "success");
        </script>
        {% endif %}

        <input type="text" id="email" name="email" placeholder="Email" value="{{ email }}" required>
        <textarea id="message" name="message" placeholder="Message" required>{{ message }}</textarea>

        <button class="h-captcha" data-sitekey="ab2b86e1-0532-4971-87ce-26a0b1ea8712" data-callback="onSubmit"><img
                src="{{ url_for('static', filename='images/hcaptcha.png') }}">Submit</button>
    </form>

    <p id="opts">or connect with us via</p>

    <div class="button-container-upper" style="display: flex; justify-content: center; align-items: center;">
        <div class="button-container">
            <button class="contact-button" onclick="openContactLink('https://spoo.me/discord');"><img
                    src="https://img.icons8.com/ios-filled/100/ffffff/discord-logo.png" alt="Discord Logo"
                    loading="lazy">
            </button>
            <button class="contact-button" onclick="openContactLink('https://twitter.com/spoo_me');"><img
                    src="https://img.icons8.com/ios-filled/100/ffffff/twitterx--v1.png" alt="Twitter Logo"
                    loading="lazy">
            </button>
            <button class="contact-button" onclick="openContactLink('https://instagram.com/spoo.me');"><img
                    src="https://img.icons8.com/ios-filled/100/ffffff/instagram-new.png" alt="Instagram Logo"
                    loading="lazy">
            </button>
            <button class="contact-button" onclick="openContactLink('mailto:support@spoo.me');"><img
                    src="https://img.icons8.com/pastel-glyph/100/ffffff/new-post--v1.png" alt="Email Icon"
                    loading="lazy">
            </button>
            <button class="contact-button" onclick="openContactLink('https://github.com/spoo-me');"><img
                    src="https://img.icons8.com/material-sharp/100/ffffff/github.png" alt="Github Logo" loading="lazy">
            </button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/stats-script.js') }}" defer></script>

    <script src="{{ url_for('static', filename='js/header.js') }}?v=1" defer=""></script>

    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

    <script>
        function onSubmit(token) {
            if (!validateEmail() || !validateMessage()) {
                return;
            }
            document.getElementsByTagName('form')[0].submit();
        }

        function validateEmail() {
            email = document.getElementById('email').value;
            var re = /\S+@\S+\.\S+/;
            if (re.test(email)) {
                return true;
            }
            else {
                customTopNotification("Error", "Invalid email", 10);
                return false;
            }
        }

        function validateMessage() {
            var message = document.getElementById('message').value;
            message = message.trim();
            if (message.length < 30) {
                customTopNotification("Error", "Message should be at least 30 characters long", 10);
                return false;
            }
            else {
                return true;
            }
        }

        function openContactLink(link) {
            window.open(link, '_blank');
        }
    </script>

</body>

</html>