<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oops! Something went wrong." />

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Error - spoo.me">
    <meta property="og:description" content="Oops! Something went wrong.">
    <meta property="og:image:url" content="https://spoo.me/static/images/error-gradient.jpg">
    <meta property="og:url" content="https://spoo.me/error">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Error - spoo.me">
    <meta name="twitter:description" content="Oops! Something went wrong.">
    <meta name="twitter:image:url" content="https://spoo.me/static/images/favicon-error.png">
    <meta property="twitter:domain" content="https://spoo.me">

    <title>Error</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts-modal.css') }}?v=6">

</head>

<body>
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}" alt="Spoo.me Banner Image" loading="lazy">
        <div class="links">
            <ul>
                <li><a href="/">Shorten</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
                </li>
                <li onclick="showContactModal();"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar">
        <div class="mobile-logo">
            <a href="/"><img class="mobile-logo-image" src="https://spoo.me/static/images/text.png" alt="Spoo.me Banner Image"></a>
        </div>
        <button type="button" class="burger" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="mobile-menu">
            <li><a href="/" class="active">Shorten</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
            </li>
            <li onclick="showContactModal();"><a href="#">Contact</a></li>
        </ul>
    </div>

    <div id="modalPopup" class="modal">
        <div class="modal-content">
            <h2 class="modal-header">Contact Us</h2>
            <div class="button-container">
                <button class="contact-button" onclick="openContactLink('https://spoo.me/discord');"><img src="https://img.icons8.com/ios-filled/100/ffffff/discord-logo.png"alt="Discord Logo" loading="lazy"><p>Discord</p></button>
                <button class="contact-button" onclick="openContactLink('https://twitter.com/spoo_me');"><img src="https://img.icons8.com/ios-filled/100/ffffff/twitterx--v1.png" alt="Twitter Logo" loading="lazy"><p>Twitter</p></button>
                <button class="contact-button" onclick="openContactLink('https://instagram.com/spoo.me');"><img src="https://img.icons8.com/ios-filled/100/ffffff/instagram-new.png" alt="Instagram Logo" loading="lazy"><p>Instagram</p></button>
                <button class="contact-button" onclick="openContactLink('mailto:support@spoo.me');"><img src="https://img.icons8.com/pastel-glyph/100/ffffff/new-post--v1.png" alt="Email Icon" loading="lazy"><p>Email</p></button>
                <button class="contact-button" onclick="openContactLink('https://github.com/spoo-me');"><img src="https://img.icons8.com/material-sharp/100/ffffff/github.png" alt="Github Logo" loading="lazy"><p>Github</p></button>
            </div>
        </div>
    </div>

    <div class="gif-upper"><img class="gif"
            src="https://media0.giphy.com/media/kF0ngyP7S1DfmzKqiN/giphy.gif?cid=ecf05e47lax6sim75vmaebu243djb82b6vx903706movksga&ep=v1_gifs_search&rid=giphy.gif&ct=g"
            alt="404 GIF" loading="lazy"></div>

    <div class="error-message">
        <div class="glitch-wrapper">
            <div class="glitch" data-glitch="{{ error_code }}, {{ error_message }}">
                {{ error_code }}, {{ error_message }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="btn"><a href="/">
                <pre>Home</pre>
            </a></div>
    </div>

    <script src="{{ url_for('static', filename='js/contacts-popup.js') }}?v=1" defer=""></script>
    <script src="{{ url_for('static', filename='js/header.js') }}?v=1" defer=""></script>

    <script src="https://code.jivosite.com/widget/hJuQcxUqnJ" async></script>

    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

</body>

</html>