{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block meta %}
    <meta name="description" content="Oops! Something went wrong." />
    <meta property="og:title" content="Error - spoo.me">
    <meta property="og:description" content="Oops! Something went wrong.">
    <meta property="og:image:url" content="https://spoo.me/static/images/error-gradient.jpg">
    <meta property="og:url" content="https://spoo.me/error">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Error - spoo.me">
    <meta name="twitter:description" content="Oops! Something went wrong.">
    <meta name="twitter:image:url" content="https://spoo.me/static/images/favicon-error.png">
    <meta property="twitter:domain" content="https://spoo.me">
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}?v=1">
{% endblock %}

{% block content %}
    <div class="gif-upper"><img class="gif" src="https://i.ibb.co/BBQgtVS/error.webp" alt="404 GIF" loading="lazy"></div>
    <div class="error-message">
        <div class="glitch-wrapper">
            <div class="glitch" data-glitch="{{ error_code }}, {{ error_message }}">{{ error_code }}, {{ error_message }}</div>
        </div>
    </div>
    <div class="container">
        <div class="btn"><a href="/"><pre>Home</pre></a></div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jivosite.com/widget/hJuQcxUqnJ" async></script>
{% endblock %}