<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "k9zlm89vrc");
    </script>

    <title>spoo.me URL Shortener</title>
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="spoo.me is a free and easy-to-use URL shortener that lets you create short links for any website. You can even choose your own alias, set a password, and limit the number of clicks.">
    <link rel="canonical" href="https://spoo.me">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Shorten Your URLs, Not Your Possiblities | spoo.me">
    <meta property="og:site_name" content="Shorten Your URLs, Not Your Possiblities | spoo.me">
    <meta property="og:description"
        content="spoo.me is a free and easy-to-use URL shortener that lets you create short links for any website.">
    <meta property="og:image:url" content="https://spoo.me/static/images/banner.webp">
    <meta property="og:url" content="https://spoo.me">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://spoo.me/" />
    <meta property="twitter:title" content="spoo.me URL Shortener" />
    <meta property="twitter:description"
        content="spoo.me is a free and easy-to-use URL shortener that lets you create short links for any website. You can even choose your own alias, set a password, and limit the number of clicks." />
    <meta property="twitter:image" content="https://spoo.me/static/images/banner.webp" />

    <meta property="twitter:domain" content="https://spoo.me">

    <meta content="#adb1ff" name="theme-color">
    <meta name="moz-appearance" content="#adb1ff">
    <meta content="#adb1ff" name="msapplication-TileColor">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=7">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/self-promo.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts-modal.css') }}?v=8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customNotification.css') }}?v=4">

    <script src="{{ url_for('static', filename='js/customNotification.js') }}?v=3"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="preload">
</head>

<body>
    <div class="self-promo">
        <div class="self-promo-inner"><a href="https://pypi.org/project/py-spoo-url/" target="_blank" rel="noopener">🥳
                We just launched our own Python Package ↗ 🐍</a></div>
        <button id="close-button" class="self-promo-close"><img width="20" height="20"
                src="https://img.icons8.com/metro/30/ffffff/delete-sign.png" alt="delete-sign" /></button>
    </div>
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}" alt="Spoo.me Banner Image"
            loading="lazy">
        <div class="links">
            <ul>
                <li><a href="#" class="active">Shorten</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/stats">Stats</a></li>
                <li><a href="/report">Report URL</a></li>
                <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
                </li>
                <li onclick="showContactModal();"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar">
        <div class="mobile-logo">
            <a href="#"><img class="mobile-logo-image" src="https://spoo.me/static/images/text.png"
                    alt="Spoo.me Banner Image"></a>
        </div>
        <button type="button" class="burger" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="mobile-menu">
            <li><a href="#" class="active">Shorten</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/stats">Stats</a></li>
            <li><a href="/report">Report URL</a></li>
            <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
            </li>
            <li onclick="showContactModal();">Contact</li>
        </ul>
    </div>

    <div id="modalPopup" class="modal">
        <div class="modal-content">
            <h2 class="modal-header">Contact Us</h2>
            <div class="button-container">
                <button class="contact-button" onclick="openContactLink('/contact');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/pencil--v1.png" alt="Contact Form Symbol"
                        loading="lazy">
                    <p>Contact Form</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://spoo.me/discord');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/discord-logo.png" alt="Discord Logo"
                        loading="lazy">
                    <p>Discord</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://twitter.com/spoo_me');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/twitterx--v1.png" alt="Twitter Logo"
                        loading="lazy">
                    <p>Twitter</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://instagram.com/spoo.me');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/instagram-new.png" alt="Instagram Logo"
                        loading="lazy">
                    <p>Instagram</p>
                </button>
                <button class="contact-button" onclick="openContactLink('mailto:support@spoo.me');"><img
                        src="https://img.icons8.com/pastel-glyph/100/ffffff/new-post--v1.png" alt="Email Icon"
                        loading="lazy">
                    <p>Email</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://github.com/spoo-me');"><img
                        src="https://img.icons8.com/material-sharp/100/ffffff/github.png" alt="Github Logo"
                        loading="lazy">
                    <p>Github</p>
                </button>
            </div>
        </div>
    </div>

    <div class="form-section">
        <form action="/" method="POST" onsubmit="return validateURL() && validatePassword();">
            <h1>
                <label for="long-url" id="tagline"><b>Shorten Your URLs, Not Your Possiblities.</b></label>
            </h1>
            <p id="url-error"></p>
            <input type="text" id="long-url" name="url" required placeholder="https://your-long-url.com" value="{{ url }}">
            {% if error %}
            <script>
                customTopNotification("AliasError", "{{ error }}", 10);
            </script>
            {% endif %}
            <div class="alias-time-container">
                <div class="child">
                    <label for="alias">Custom Alias</label>
                    <div class="buttonIn">
                        <div id="input-prefix">
                            <span>{{ host_url }}</span>
                        </div>
                        <input type="text" id="alias" name="alias" placeholder="your-custom-alias">
                    </div>
                    <p id="non-imp">leave blank for random url slug</p>
                </div>
                <!--  Custom Time Expiration is currently Buggy and not ready for Production  -->
                <!-- <div class="child">
                    <label for="expiration-time">Expiration Time</label>
                    <input type="datetime-local" id="expiration-time" name="expiration-time">
                    <p id="non-imp">leave blank for never expire</p>
                </div> -->
            </div>
            <p id="password-error"></p>
            <div id="password-div">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="optional" class="invalid">
            </div>
            <div id="clicks-div">
                <label for="max-clicks">Max Clicks</label>
                <input type="number" id="max-clicks" name="max-clicks" placeholder="optional" min="1">
            </div>
            <div class="checkbox-wrapper-4">
                <input class="inp-cbx" id="block-bots" type="checkbox" name="block-bots" />
                <label class="cbx" for="block-bots"><span>
                        <svg width="12px" height="10px">
                            <use xlink:href="#check-4"></use>
                        </svg></span><span class="block-bot-label">Block Bots</span></label>
                <svg class="inline-svg">
                    <symbol id="check-4" viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </symbol>
                </svg>
            </div>
            <div id="sub">
                <button type="submit">Shorten URL</button>
            </div>
        </form>

        {% if recentURLs %}
        <div id="recentURLs"> {% for url in recentURLs %} <div class="url-container">
                <div class="section-1">
                    <div class="left-section">
                        <span class="short-url">
                            <a href="/{{ url}}" target="_blank">{{ host_url }}{{ url }}</a>
                        </span>
                    </div>
                    <div class="right-section">
                        <div class="qr-code" data-url="{{ host_url }}{{ url }}"></div>
                    </div>
                </div>
                <div class="section-2">
                    <div class="button-container">
                        <button class="copy-button" data-url="{{ host_url }}{{ url }}">Copy</button>
                        <button class="stats-button">Stats</button>
                    </div>
                </div>
            </div> {% endfor %} </div>
        {% endif %}
    </div>

    <div class="metrics-section">
        <div class="metrics">
            <div class="links-shortened">
                <h2 id="total-urls"></h2>
                <h4>LINKS SHORTENED</h4>
            </div>
            <div class="clicks-served">
                <h2 id="total-clicks"></h2>
                <h4>CLICKS REDIRECTED</h4>
            </div>
            <div class="github-stars">
                <a id="github-stars-link" href="/github" target="_blank">
                    <h2 id="github-stars"></h2>
                    <h4>GITHUB STARS</h4>
                </a>
            </div>
            <div class="discord-online">
                <a id="discord-server-link" href="https://spoo.me/discord" target="_blank">
                    <h2 id="discord-online"></h2>
                    <h4>ONLINE IN DISCORD</h4>
                </a>
            </div>
        </div>
    </div>

    <div id="producthunt">
        <a href="https://www.producthunt.com/posts/spoo-me-url-shortener?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-spoo&#0045;me&#0045;url&#0045;shortener"
            target="_blank" rel="noopener"><img
                src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=431671&theme=dark"
                alt="Spoo&#0046;me&#0032;Url&#0032;Shortener - Shorten&#0032;Your&#0032;URLs&#0044;&#0032;Not&#0032;Your&#0032;Possibilities&#0046; | Product Hunt"
                style="width: 200px; height: 40px;" width="200" height="40" loading="lazy" /></a>
    </div>

    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

    <script src="{{ url_for('static', filename='js/index-qrcode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index-validate.js') }}?v=1" defer=""></script>
    <script src="{{ url_for('static', filename='js/index-script.js') }}?v=3" defer=""></script>
    <script src="{{ url_for('static', filename='js/contacts-popup.js') }}?v=1" defer=""></script>
    <script src="{{ url_for('static', filename='js/header.js') }}?v=1" defer=""></script>
    <script src="{{ url_for('static', filename='js/self-promo.js') }}" defer=""></script>

    <!--  Custom Time Expiration is currently Buggy and not ready for Production  -->

    <!-- <script>
        var timeExpiration = document.getElementById('expiration-time');
        var date = new Date();
        date.setMinutes(date.getMinutes() + 10);

        // Format date to 'YYYY-MM-DDTHH:mm' which is the format datetime-local expects
        var dateTimeString = date.toISOString().slice(0, 16);

        timeExpiration.min = dateTimeString;
    </script>

    <script>
        document.getElementById('urlForm').addEventListener('submit', function(event) {
            event.preventDefault();

            // Validate URL, password, and expiration
            if (!validateURL() || !validatePassword() || !validateExpiration()) {
                return;
            }

            // Get timezone offset in minutes
            var timezoneOffset = new Date().getTimezoneOffset();

            // Convert timezone offset to hours and minutes
            var timezoneOffsetHours = Math.abs(Math.floor(timezoneOffset / 60));
            var timezoneOffsetMinutes = Math.abs(timezoneOffset % 60);

            // Format timezone offset as a string
            var timezoneOffsetString = (timezoneOffset < 0 ? '+' : '-') +
                String(timezoneOffsetHours).padStart(2, '0') +
                ':' +
                String(timezoneOffsetMinutes).padStart(2, '0');

            // Get expiration time input
            var expirationTimeInput = document.getElementById('expiration-time');

            // Create a new URLSearchParams object
            var data = new URLSearchParams();

            // Append form fields to the data
            for (var pair of new FormData(this)) {
                data.append(pair[0], pair[1]);
            }

            // if the expiration time is empty, dont add the offset
            // Append timezone offset to the expiration time and add it to the data
            if (expirationTimeInput.value){
                var expirationDateTime = new Date(expirationTimeInput.value);
                expirationDateTime.setMinutes(expirationDateTime.getMinutes() - timezoneOffset);
                var formattedDateTime = expirationDateTime.toISOString().slice(0, 19);
                data.set('expiration-time', formattedDateTime + timezoneOffsetString);
                console.log(formattedDateTime + timezoneOffsetString);
            }

            // Create a new request
            fetch(this.action, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded',
                },
                body: data,
                redirect: 'follow'
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.url;
            })
            .then(url => window.location.href = url)
            .catch(error => console.error(error));
        });
    </script> -->

    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

</body>

</html>