{% extends "base.html" %}

{% block title %}spoo.me URL Shortener{% endblock %}

{% block meta %}
<script type="text/javascript">
    (function (c, l, a, r, i, t, y) {
        c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
        t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
    })(window, document, "clarity", "script", "k9zlm89vrc");
</script>
<meta name="description"
    content="spoo.me is a free and easy-to-use URL shortener that lets you create short links for any website. You can even choose your own alias, set a password, and limit the number of clicks.">
<link rel="canonical" href="https://spoo.me">
<meta property="og:title" content="Shorten Your URLs, Not Your Possiblities | spoo.me">
<meta property="og:site_name" content="Shorten Your URLs, Not Your Possiblities | spoo.me">
<meta property="og:description"
    content="spoo.me is a free and easy-to-use URL shortener that lets you create short links for any website.">
<meta property="og:image:url" content="https://spoo.me/static/images/banner.webp">
<meta property="og:url" content="https://spoo.me">
<meta property="og:type" content="website">
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://spoo.me/" />
<meta property="twitter:title" content="spoo.me URL Shortener" />
<meta property="twitter:description"
    content="spoo.me is a free and easy-to-use URL shortener that lets you create short links for any website. You can even choose your own alias, set a password, and limit the number of clicks." />
<meta property="twitter:image" content="https://spoo.me/static/images/banner.webp" />
<meta property="twitter:domain" content="https://spoo.me">
<meta content="#adb1ff" name="theme-color">
<meta name="moz-appearance" content="#adb1ff">
<meta content="#adb1ff" name="msapplication-TileColor">
{% endblock %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=9">
<link rel="stylesheet" href="{{ url_for('static', filename='css/customNotification.css') }}?v=4">

<link rel="stylesheet" href="{{ url_for('static', filename='css/landing-edit-modal.css') }}">
<script src="{{ url_for('static', filename='js/customNotification.js') }}?v=3"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="preload">
<link href="https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="form-section">
    <form action="/" method="POST" onsubmit="return validateURL() && validatePassword();">
        <h1>
            <label for="long-url" id="tagline"><b>Shorten Your URLs, Not Your Possibilities.</b></label>
        </h1>
        <p id="url-error"></p>
        <input type="text" id="long-url" name="url" required placeholder="https://your-long-url.com" value="{{ url }}">
        {% if error %}
        <script>
            customTopNotification("AliasError", "{{ error }}", 10);
        </script>
        {% endif %}
        <div class="alias-time-container">
            <div class="child">
                <label for="alias">Custom Alias</label>
                <div class="buttonIn">
                    <div id="input-prefix">
                        <span>{{ host_url }}</span>
                    </div>
                    <input type="text" id="alias" name="alias" placeholder="your-custom-alias">
                </div>
                <p id="non-imp">leave blank for random url slug</p>
            </div>
        </div>
        <p id="password-error"></p>
        <div id="password-div">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="optional" class="invalid">
        </div>
        <div id="clicks-div">
            <label for="max-clicks">Max Clicks</label>
            <input type="number" id="max-clicks" name="max-clicks" placeholder="optional" min="1">
        </div>
        <div class="checkbox-wrapper-4">
            <input class="inp-cbx" id="block-bots" type="checkbox" name="block-bots" />
            <label class="cbx" for="block-bots"><span>
                    <svg width="12px" height="10px">
                        <use xlink:href="#check-4"></use>
                    </svg></span><span class="block-bot-label">Block Bots</span></label>
            <svg class="inline-svg">
                <symbol id="check-4" viewbox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </symbol>
            </svg>
        </div>
        <div id="sub">
            <button type="submit">Shorten URL</button>
        </div>
    </form>

    <div id="recentURLs"></div>
</div>

<div class="metrics-section">
    <div class="metrics">
        <div class="links-shortened">
            <h2 id="total-urls"></h2>
            <h4>LINKS SHORTENED</h4>
        </div>
        <div class="clicks-served">
            <h2 id="total-clicks"></h2>
            <h4>CLICKS REDIRECTED</h4>
        </div>
        <div class="github-stars">
            <a id="github-stars-link" href="/github" target="_blank">
                <h2 id="github-stars"></h2>
                <h4>GITHUB STARS</h4>
            </a>
        </div>
    </div>
</div>

<!-- Landing Edit Modal -->
{% include 'partials/landing_edit_modal.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/landing-edit-modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/index-recent-links.js') }}?v=1"></script>
<script src="{{ url_for('static', filename='js/index-validate.js') }}?v=1"></script>
<script src="{{ url_for('static', filename='js/index-script.js') }}?v=6" defer></script>
{% endblock %}