<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Enter Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>

<body>
    <div>
        <div id="glass">
            <h1>{{ host_url }}{{ short_code }}</h1>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
        <form method="post" action="{{ url_for('check_password', short_code=short_code) }}">
            <form method="post" action="{{ url_for('check_password', short_code=short_code) }}">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
                <br><br>
                <input type="submit" value="Submit">
            </form>
    </div>
</body>

</html>