<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Enter Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}?v=1">
</head>

<body>
    <div>
        <div id="glass">
            <h1>{{ host_url }}{{ short_code }}</h1>
        </div>
            <form class="buttonIn" id="inputForm" method="post" action="{{ url_for('check_password', short_code=short_code) }}">
                {% if error %}
                    <input type="password" name="password" id="password" required placeholder="Enter the Correct Password" class="error">
                {% else %}
                    <input type="password" name="password" id="password" required placeholder="Enter the Password">
                {% endif %}

                <button type="submit" value="Submit" id="submit"><svg class="icon-arrow" viewBox="0 0 31.49 31.49">
                    <path d="M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571l-9.952-9.953z"/>
                </svg></button>
            </form>
    </div>
    <script>

        document.getElementById("password").focus();

        {% if error %}
            document.getElementById("inputForm").classList.add("shake");
            setTimeout(function() {
                document.getElementById("inputForm").classList.remove("shake");
            }, 1000);
        {% endif %}

    </script>
</body>

</html>