{% extends "base.html" %}

{% block title %}Report URL - spoo.me{% endblock %}

{% block meta %}
    <meta name="description" content="Report URLs that are not working or are malicious. We will take action on the reported URLs.">
    <link rel="canonical" href="https://spoo.me/report">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spoo.me/report" />
    <meta property="og:title" content="Contact us - spoo.me" />
    <meta property="og:description" content="Report URLs that are not working or are malicious. We will take action on the reported URLs." />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://spoo.me/report" />
    <meta property="twitter:title" content="Contact us - spoo.me" />
    <meta property="twitter:description" content="Report URLs that are not working or are malicious. We will take action on the reported URLs." />
    <meta property="twitter:domain" content="https://spoo.me">
    <meta content="#662ff4" name="theme-color">
    <meta name="moz-appearance" content="#662ff4">
    <meta content="#662ff4" name="msapplication-TileColor">
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customNotification.css') }}?v=4">
    <script src="{{ url_for('static', filename='js/customNotification.js') }}?v=3"></script>
{% endblock %}

{% block content %}
    <h1 style="font-weight: bold;">Report URL</h1>
    <form action="/report" method="post" onsubmit="return validateMessage();">
        <p id="url-error"></p>
        {% if error %}<script>customTopNotification("Error", "{{ error }}", 10, "error");</script>{% endif %}
        {% if success %}<script>customTopNotification("Success", "{{ success }}", 10, "success");</script>{% endif %}
        <div class="buttonIn">
            <div id="input-prefix"><span>{{ host_url }}</span></div>
            <input type="text" id="alias" name="short_code" placeholder="short-code" value="{{ short_code }}" required>
        </div>
        <textarea id="message" name="reason" placeholder="Reason for Reporting this Short URL" required>{{ reason }}</textarea>
        <button type="submit" class="h-captcha" data-sitekey="ab2b86e1-0532-4971-87ce-26a0b1ea8712" data-callback="onSubmit"><img alt="hCaptcha Logo" src="{{ url_for('static', filename='images/hcaptcha.png') }}">Report</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            if (!validateMessage()) { return; }
            document.getElementsByTagName('form')[0].submit();
        }
        function validateMessage() {
            var message = document.getElementById('message').value;
            message = message.trim();
            if (message.length < 20) { customTopNotification("Error", "Message should be at least 20 characters long", 10); return false; }
            else { return true; }
        }
        const inputBox = document.querySelector('#alias');
        inputBox.addEventListener('focus', (e) => { document.querySelector('.buttonIn').classList.add('focus'); });
        inputBox.addEventListener('blur', (e) => { document.querySelector('.buttonIn').classList.remove('focus'); });
    </script>
{% endblock %}