{% extends "base.html" %}

{% block title %}spoo.me URL Stats{% endblock %}

{% block meta %}
    <meta name="description" content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface.">
    <link rel="canonical" href="https://spoo.me/stats">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spoo.me/stats" />
    <meta property="og:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="og:description" content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="og:image" content="https://spoo.me/static/images/stats-banner.webp" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://spoo.me/stats" />
    <meta property="twitter:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="twitter:description" content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="twitter:image" content="https://spoo.me/static/images/stats-banner.webp" />
    <meta property="twitter:domain" content="https://spoo.me">
    <meta content="#6af5dd" name="theme-color">
    <meta name="moz-appearance" content="#6af5dd">
    <meta content="#6af5dd" name="msapplication-TileColor">
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}?v=5">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/customNotification.css') }}?v=4">
    <script src="{{ url_for('static', filename='js/customNotification.js') }}?v=3"></script>
{% endblock %}

{% block content %}
    <form action="/stats" method="post" onsubmit="return checkURL();">
        <p id="url-error"></p>
        {% if error %}
        <script>customTopNotification("Error", "{{ error }}", 10, "error");</script>
        {% elif password_error %}
        <script>customTopNotification("PasswordError", "{{ password_error }}", 10, "error");</script>
        {% endif %}
        <label for="short-code" style="font-weight: bold;">Enter the alias of the short URL</label>
        <div class="buttonIn">
            <div id="input-prefix"><span>{{ host_url }}</span></div>
            <input type="text" id="short_code" name="short_code" required placeholder="alias" value="{{ url }}" spellcheck="false">
            <button type="submit" value="Submit" id="submit" title="Submit Form"><svg class="icon-arrow" viewBox="0 0 31.49 31.49"><path d="M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571l-9.952-9.953z" /></svg></button>
        </div>
        {% if password_error %}
        <input type="password" id="password" name="password" placeholder="Password">
        <script>document.getElementById("password").focus();document.getElementById("password").classList.add("shake");setTimeout(function(){document.getElementById("password").classList.remove("shake");},1000);</script>
        {% else %}
        <input type="password" id="password" name="password" placeholder="Password (optional)">
        <script>document.getElementById("short_code").focus();</script>
        {% endif %}
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/stats-script.js') }}" defer></script>
    {% if error %}
    <script>document.querySelector(".buttonIn").classList.add("shake");setTimeout(function(){document.querySelector(".buttonIn").classList.remove("shake");},1000);</script>
    {% endif %}
    <script>
        function checkURL() {
            var enteredURL = document.getElementById("short_code").value.trim();
            var regex = /^[^\!@#\$%\^&\*\(\)_\+\/\<\>\?:"\{\}\|\/~]+$/;
            if (!regex.test(enteredURL)) {
                document.querySelector(".buttonIn").classList.add("shake");
                setTimeout(function () { document.querySelector(".buttonIn").classList.remove("shake"); }, 1000);
                return false;
            } else {
                return true;
            }
        }
    </script>
{% endblock %}