<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>spoo.me URL Stats</title>
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface." />
    <link rel="canonical" href="https://spoo.me/stats">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spoo.me/stats" />
    <meta property="og:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="og:description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="og:image" content="https://spoo.me/static/images/stats-banner.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://spoo.me/stats" />
    <meta property="twitter:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="twitter:description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="twitter:image" content="https://spoo.me/static/images/stats-banner.png" />
    <meta property="twitter:domain" content="https://spoo.me">

    <meta content="#6af5dd" name="theme-color">
    <meta name="moz-appearance" content="#6af5dd">
    <meta content="#6af5dd" name="msapplication-TileColor">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}"

    <script src="{{ url_for('static', filename='js/stats-script.js') }}" defer></script>

</head>

<body>
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}">
        <div class="links">
            <ul>
                <li><a href="/">Shorten</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="#" class="active">Stats</a></li>
                <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
                </li>
                <li><a href="mailto:support@spoo.me">Contact ↗</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar">
        <div class="mobile-logo">
            <a href="/"><img class="mobile-logo-image" src="https://spoo.me/static/images/text.png"></a>
        </div>
        <button type="button" class="burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="mobile-menu">
            <li><a href="/">Shorten</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="#" class="active">Stats</a></li>
            <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
            </li>
            <li><a href="mailto:support@spoo.me">Contact ↗</a></li>
        </ul>
    </div>

    <form action="/stats" method="POST" onsubmit="return checkURL();">
        <p id="url-error"></p>
        <label for="short-code" style="font-weight: bold;">Enter the full Url</label>
        <input type="text" id="short_code" name="short_code" required placeholder="{{ host_url }}your-short-code"
            value="{{ url }}">

        {% if error %}
        <p id="password-error">{{ error }}</p>
        <script>removeErrorMessage();</script>
        {% endif %}

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Optional">

        <button type="submit">View Stats</button>
    </form>

    <script>
        function checkURL() {
            var hostURL = "{{ host_url }}";
            var enteredURL = document.getElementById("short_code").value.trim();

            if (!enteredURL.startsWith(hostURL)) {
                document.getElementById("url-error").innerText = "Invalid URL: The entered URL must begin with the host's URL.";
                document.getElementById("url-error").style.background = "rgba(255, 255, 255, 0.15)"
                document.getElementById("url-error").style.marginTop = "-15px"
                setTimeout(function () {
                    document.getElementById("url-error").innerText = "";
                    document.getElementById("url-error").style.background = "";
                    document.getElementById("url-error").style.marginTop = "-30px";
                }, 3000);
                return false;
            }
            return true;
        }

    </script>
</body>

</html>