<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>spoo.me URL Stats</title>
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface." />
    <link rel="canonical" href="https://spoo.me/stats">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spoo.me/stats" />
    <meta property="og:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="og:description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="og:image" content="https://spoo.me/static/images/stats-banner.webp" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://spoo.me/stats" />
    <meta property="twitter:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="twitter:description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="twitter:image" content="https://spoo.me/static/images/stats-banner.webp" />
    <meta property="twitter:domain" content="https://spoo.me">

    <meta content="#6af5dd" name="theme-color">
    <meta name="moz-appearance" content="#6af5dd">
    <meta content="#6af5dd" name="msapplication-TileColor">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}?v=4">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts-modal.css') }}?v=4">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/self-promo.css') }}?v=2">

</head>

<body>
    <div class="self-promo" style="background-color: rgb(70, 17, 120);">
        <div class="self-promo-inner"><a href="https://pypi.org/project/py-spoo-url/" target="_blank" rel="noopener">🥳 We just launched our own Python Package ↗ 🐍</a></div>
        <button id="close-button" class="self-promo-close"><img width="20" height="20" src="https://img.icons8.com/metro/30/ffffff/delete-sign.png" alt="delete-sign"/></button>
    </div>
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}" alt="Spoo.me Banner Image" loading="lazy">
        <div class="links">
            <ul>
                <li><a href="/">Shorten</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="#" class="active">Stats</a></li>
                <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
                </li>
                <li onclick="showContactModal();"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar">
        <div class="mobile-logo">
            <a href="/"><img class="mobile-logo-image" src="https://spoo.me/static/images/text.png"
                    alt="Spoo.me Banner Image" loading="lazy"></a>
        </div>
        <button type="button" class="burger" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="mobile-menu">
            <li><a href="/">Shorten</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="#" class="active">Stats</a></li>
            <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
            </li>
            <li onclick="showContactModal();"><a href="#">Contact</a></li>
        </ul>
    </div>

    <div id="modalPopup" class="modal">
        <div class="modal-content">
            <h2 class="modal-header">Contact Us</h2>
            <div class="button-container">
                <button class="contact-button" onclick="openContactLink('https://spoo.me/discord');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/discord-logo.png" alt="Discord Logo" loading="lazy">
                    <p>Discord</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://twitter.com/spoo_me');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/twitterx--v1.png" alt="Twitter Logo" loading="lazy">
                    <p>Twitter</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://instagram.com/spoo.me');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/instagram-new.png" alt="Instagram Logo" loading="lazy">
                    <p>Instagram</p>
                </button>
                <button class="contact-button" onclick="openContactLink('mailto:support@spoo.me');"><img
                        src="https://img.icons8.com/pastel-glyph/100/ffffff/new-post--v1.png" alt="Email Icon" loading="lazy">
                    <p>Email</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://github.com/spoo-me');"><img
                        src="https://img.icons8.com/material-sharp/100/ffffff/github.png" alt="Github Logo" loading="lazy">
                    <p>Github</p>
                </button>
            </div>
        </div>
    </div>

    <form action="/stats" method="post" onsubmit="return checkURL();">
        <p id="url-error"></p>

        {% if error %}
        <label for="short-code" style="font-weight: bold;">{{ error }}</label>
        {% elif password_error %}
        <label for="short-code" style="font-weight: bold;">{{ password_error }}</label>
        {% else %}
        <label for="short-code" style="font-weight: bold;">Enter the alias of the short URL</label>

        {% endif %}

        <div class="buttonIn">
            <div id="input-prefix">
                <span>{{ host_url }}</span>
            </div>
            <input type="text" id="short_code" name="short_code" required placeholder="alias" value="{{ url }}" spellcheck="false">

            <button type="submit" value="Submit" id="submit" title="Submit Form"><svg class="icon-arrow"
                    viewBox="0 0 31.49 31.49">
                    <path
                        d="M21.205 5.007c-.429-.444-1.143-.444-1.587 0-.429.429-.429 1.143 0 1.571l8.047 8.047H1.111C.492 14.626 0 15.118 0 15.737c0 .619.492 1.127 1.111 1.127h26.554l-8.047 8.032c-.429.444-.429 1.159 0 1.587.444.444 1.159.444 1.587 0l9.952-9.952c.444-.429.444-1.143 0-1.571l-9.952-9.953z" />
                </svg></button>
        </div>

        {% if password_error %}
        <input type="password" id="password" name="password" placeholder="Password">
        <script>
            document.getElementById("password").focus();
            document.getElementById("password").classList.add("shake");
            setTimeout(function () {
                document.getElementById("password").classList.remove("shake");
            }, 1000);
        </script>

        {% else %}
        <input type="password" id="password" name="password" placeholder="Password (optional)">
        <script>
            document.getElementById("short_code").focus();
        </script>

        {% endif %}

    </form>

    <script src="{{ url_for('static', filename='js/stats-script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/contacts-popup.js') }}" defer=""></script>
    <script src="{{ url_for('static', filename='js/self-promo.js') }}" defer=""></script>

    {% if error %}
        <script>
            document.querySelector(".buttonIn").classList.add("shake");
            setTimeout(function () {
                document.querySelector(".buttonIn").classList.remove("shake");
            }, 1000);
        </script>
    {% endif %}

    <script>

        function checkURL() {
            var enteredURL = document.getElementById("short_code").value.trim();
            var regex = /^[^\!@#\$%\^&\*\(\)_\+\/\<\>\?:"\{\}\|\/~]+$/;

            if (!regex.test(enteredURL)) {
                document.querySelector(".buttonIn").classList.add("shake");
                setTimeout(function () {
                    document.querySelector(".buttonIn").classList.remove("shake");
                }, 1000);
                return false;
            } else {
                return true;
            }
        }
    </script>

    <script src="{{ url_for('static', filename='js/header.js') }}?v=1" defer=""></script>

    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>

    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

</body>

</html>