<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Advanced URL Statistics - Spoo.me</title>
    <link rel="icon" type="image/png" href="https://spoo.me/static/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface.">
    <link rel="canonical" href="https://spoo.me/stats">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://spoo.me/stats" />
    <meta property="og:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="og:description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="og:image" content="https://spoo.me/static/images/stats-banner.webp" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://spoo.me/stats" />
    <meta property="twitter:title" content="Advanced URL Statistics - Spoo.me" />
    <meta property="twitter:description"
        content="Unlock insights with spoo.me's URL statistics page. Track link performance, monitor clicks, and gauge audience engagement effortlessly. Make informed decisions to optimize your online presence with our user-friendly analytics interface" />
    <meta property="twitter:image" content="https://spoo.me/static/images/stats-banner.webp" />
    <meta property="twitter:domain" content="https://spoo.me">

    <meta content="#6af5dd" name="theme-color">
    <meta name="moz-appearance" content="#6af5dd">
    <meta content="#6af5dd" name="msapplication-TileColor">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats-view.css') }}?v=8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile-header.css') }}?v=3">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts-modal.css') }}?v=2">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/synthwave-84.css') }}">

</head>

<body>
    <div class="navbar">
        <img class="navbar-image" src="{{ url_for('static', filename='images/text.png') }}" alt="Spoo.me Banner Image" loading="lazy">
        <div class="links">
            <ul>
                <li><a href="/">Shorten</a></li>
                <li><a href="/api">API</a></li>
                <li><a href="/stats" class="active">Stats</a></li>
                <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
                </li>
                <li onclick="showContactModal();"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="mobile-navbar">
        <div class="mobile-logo">
            <a href="/"><img class="mobile-logo-image" src="https://spoo.me/static/images/text.png"
                    alt="Spoo.me Banner Image"></a>
        </div>
        <button type="button" class="burger" style="margin: 0;" title="Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="mobile-menu">
            <li><a href="/">Shorten</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/stats" class="active">Stats</a></li>
            <li><a href="https://github.com/spoo-me/url-shortener" rel="noopener" target="_blank">Open-Source ↗</a>
            </li>
            <li onclick="showContactModal();"><a href="#">Contact</a></li>
        </ul>
    </div>

    <div id="modalPopup" class="modal">
        <div class="modal-content">
            <h2 class="modal-header">Contact Us</h2>
            <div class="button-container">
                <button class="contact-button" onclick="openContactLink('https://spoo.me/discord');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/discord-logo.png" alt="Discord Logo" loading="lazy">
                    <p>Discord</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://twitter.com/spoo_me');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/twitterx--v1.png" alt="Twitter Logo" loading="lazy">
                    <p>Twitter</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://instagram.com/spoo.me');"><img
                        src="https://img.icons8.com/ios-filled/100/ffffff/instagram-new.png" alt="Instagram Logo" loading="lazy">
                    <p>Instagram</p>
                </button>
                <button class="contact-button" onclick="openContactLink('mailto:support@spoo.me');"><img
                        src="https://img.icons8.com/pastel-glyph/100/ffffff/new-post--v1.png" alt="Email Icon" loading="lazy">
                    <p>Email</p>
                </button>
                <button class="contact-button" onclick="openContactLink('https://github.com/spoo-me');"><img
                        src="https://img.icons8.com/material-sharp/100/ffffff/github.png" alt="Github Logo" loading="lazy">
                    <p>Github</p>
                </button>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="main-data-container">
            <div class="main-data">
                <h2 class="main-data-heading">General Stats</h2>
                <p>
                    Original URL &nbsp; <code id="url_long_code">{{ json_data['url']}}</code>
                </p>
                <p>Total Clicks &nbsp; <code>{{ json_data["total-clicks"] }}</code></p>
                <p>
                    Total Unique Clicks &nbsp; <code>{{ json_data["total_unique_clicks"] }}</code>
                </p>
                <p>Short Code &nbsp; <code>{{ json_data["short_code"] }}</code></p>
                <p>Creation Date &nbsp; <code>{{ json_data["creation-date"] }}</code></p>
                <p>Max Clicks &nbsp; <code>{{ json_data["max-clicks"] }}</code></p>
                {% if json_data["expiry"] %}
                <p>Expired &nbsp; <code id="expire">{{ json_data["expired"] }}</code></p>
                {% endif %}
                <p>Last Click &nbsp; <code>{{ json_data['last-click']}}</code></p>
                <p>Last Click Browser &nbsp; <code>{{ json_data["last-click-browser"] }}</code></p>
                <p>Last Click OS &nbsp; <code>{{ json_data["last-click-os"] }}</code></p>
            </div>
            <div class="clicks-data">
                <h2>Click Counter</h2>
                <div class="chart-container">
                    <canvas id="counterChart"></canvas>
                    <pre class="counterJsonPre"
                        style="padding: 0.318em;"><code id="counterJson" class="json-data language-json" style="font-size: 0.8em;"></code></pre>
                </div>
                <select id="counterOption" onchange="updateCounterChart()" title="Counter Date Range">
                    <option value="last7days" selected>Last 7 Days</option>
                    <option value="last30days">Last 30 Days</option>
                    <option value="alltime">All Time</option>
                </select>
                <button onclick="toggleView('counter')">Toggle View</button>
                <select id="counterDataOption" onchange="updateCounterChart()" title="Counter Data Option">
                    <option value="collectiveData" selected>Overall Clicks</option>
                    <option value="uniqueData">Unique Clicks</option>
                    <option value="compareBoth">Compare Both</option>
                </select>
            </div>
        </div>
        <div class="charts-container">
            <div class="browsers-data">
                <h2>Browsers</h2>
                <div class="chart-container">
                    <canvas id="browserChart"></canvas>
                    <pre class="browserJsonPre"
                        style="padding: 0.318em;"><code id="browserJson" class="json-data language-json" style="font-size: 0.8em;"></code></pre>
                </div>
                <button onclick="toggleView('browser')">Toggle View</button>
                <select id="browserDataOption" onchange="updateBrowserChart()" title="Browser Data Option">
                    <option value="collectiveData" selected>Overall Clicks</option>
                    <option value="uniqueData">Unique Clicks</option>
                    <option value="compareBoth">Compare Both</option>
                </select>
            </div>
            <div class="os-data">
                <h2>Platforms</h2>
                <div class="chart-container">
                    <canvas id="osChart"></canvas>
                    <pre class="osJsonPre"
                        style="padding: 0.318em;"><code id="osJson" class="json-data language-json" style="font-size: 0.8em;"></code></pre>
                </div>
                <button onclick="toggleView('os')">Toggle View</button>
                <select id="osDataOption" onchange="updateOsChart()" title="OS Data Option">
                    <option value="collectiveData" selected>Overall Clicks</option>
                    <option value="uniqueData">Unique Clicks</option>
                    <option value="compareBoth">Compare Both</option>
                </select>
            </div>
        </div>
        <div class="charts-container">
            <div class="referrer-data">
                <h2>Referrers</h2>
                <div class="chart-container">
                    <canvas id="referrerChart"></canvas>
                    <pre class="referrerJsonPre"
                        style="padding: 0.318em;"><code id="referrerJson" class="json-data language-json" style="font-size: 0.8em;"></code></pre>
                </div>
                <button onclick="toggleView('referrer')">Toggle View</button>
                <select id="referrerDataOption" onchange="updateReferrerChart()" title="Referrer Data Option">
                    <option value="collectiveData" selected>Overall Clicks</option>
                    <option value="uniqueData">Unique Clicks</option>
                </select>
            </div>
            <div class="country-data">
                <h2>Countries</h2>
                <div class="chart-container" id="country-container">
                    <canvas id="countryChart"></canvas>
                    <pre class="countryJsonPre"
                        style="padding: 0.318em;"><code id="countryJson" class="json-data language-json" style="font-size: 0.8em;"></code></pre>
                </div>
                <button onclick="toggleView('country')">Toggle View</button>
                <select id="countryDataOption" onchange="updateCountryChart()" title="Country Data Option">
                    <option value="collectiveData" selected>Overall Clicks</option>
                    <option value="uniqueData">Unique Clicks</option>
                </select>
            </div>
        </div>
        <div class="charts-container">
            <div class="average-data">
                <h2>Clicks Analysis</h2>
                <div class="chart-container">
                    <canvas id="analysisChart"></canvas>
                    <pre class="analysisJsonPre"
                        style="padding: 0.318em;"><code id="analysisJson" class="json-data language-json" style="font-size: 0.8em;"></code></pre>
                </div>
                <button onclick="toggleView('analysis')">Toggle View</button>
            </div>
            <div class="qr-code">

                <h2 style="text-align: left; margin-bottom: 20px;">Export Data</h2>

                <div class="export-data-wrapper">
                    <div class="button-pair">
                        <button class="export-button" onclick="exportData('json')">JSON</button>
                        <button class="export-button" onclick="exportData('csv')">CSV</button>
                    </div>
                    <div class="button-pair">
                        <button class="export-button" onclick="exportData('xml')">XML</button>
                        <button class="export-button" onclick="exportData('xlsx')">XLSX</button>
                    </div>
                </div>

                <!-- <h2 style="text-align: left; margin-bottom: 20px;">Qr Code</h2> -->
                <div class="qr-code-upper">
                    <div id="qr-code-container">
                        <img class="qrcode" id="qrcode" alt="Qr Code for Sharing the ShortURL"
                            src="https://qr.spoo.me/gradient?text={{ host_url }}stats/{{json_data['short_code']}}" loading="lazy">
                        <span id="qrcode-overlay">Download</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/header.js') }}?v=1" defer=""></script>
    <script src="{{ url_for('static', filename='js/stats-view-script.js') }}" defer=""></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% if json_data["expired"] %}
        <script>
            function changeExpiredSpanColor() {
                var p = document.getElementById("expire");
                if (p.innerText === "True") {
                    p.style.background = "rgba(255, 0, 0, 0.5)";
                }
                if (p.innerText === "False") {
                    p.style.background = "rgba(0, 255, 0, 0.5)";
                }
            }
            window.onload = changeExpiredSpanColor;
        </script>
    {% endif %}

    <script>
        const jsonResponse = {{ json_data| tojson }};

        function toggleView(chartType) {
            const chartContainer = document.getElementById(`${chartType}Container`);
            const chartCanvas = document.getElementById(`${chartType}Chart`);
            const jsonPre = document.querySelector(`.${chartType}JsonPre`);
            const jsonDataElement = document.getElementById(`${chartType}Json`);

            if (chartType === 'analysis') {
                if (chartCanvas.style.display === 'none') {
                    chartCanvas.style.display = 'block';
                    jsonPre.style.display = 'none';
                    jsonDataElement.style.display = 'none';
                } else {
                    chartCanvas.style.display = 'none';
                    jsonDataElement.style.display = 'block';
                    jsonPre.style.display = 'block';
                    jsonDataElement.textContent = JSON.stringify(jsonResponse['analysis_data'] || jsonResponse.os_name || {}, null, 2);
                }
            }
            else if (chartType === 'counter') {
                if (chartCanvas.style.display === 'none') {
                    chartCanvas.style.display = 'block';
                    jsonPre.style.display = 'none';
                    jsonDataElement.style.display = 'none';
                } else {
                    chartCanvas.style.display = 'none';
                    jsonPre.style.display = 'block';
                    jsonDataElement.style.display = 'block';
                    const dataOption = document.getElementById(`${chartType}DataOption`).value;
                    const option = document.getElementById(`${chartType}Option`).value;

                    let dt = {};
                    let dt2 = {};

                    switch (option) {
                        case 'last7days':
                            dt = getLastNDaysCounterData(jsonResponse.counter, 7);
                            dt2 = getLastNDaysCounterData(jsonResponse.unique_counter, 7);
                            break;
                        case 'last30days':
                            dt = getLastNDaysCounterData(jsonResponse.counter, 30);
                            dt2 = getLastNDaysCounterData(jsonResponse.unique_counter, 30);
                            break;
                        case 'alltime':
                            dt = jsonResponse.counter;
                            dt2 = jsonResponse.unique_counter;
                            break;
                        default:
                            dt = jsonResponse.counter;
                            dt2 = jsonResponse.unique_counter;
                    }

                    if (dataOption === "collectiveData") {
                        jsonDataElement.textContent = JSON.stringify(dt || jsonResponse.os_name || {}, null, 2);
                    }
                    else if (dataOption === "uniqueData") {
                        jsonDataElement.textContent = JSON.stringify(dt2 || jsonResponse.os_name || {}, null, 2);
                    }
                    else {
                        jsonDataElement.textContent = JSON.stringify({
                            "collectiveData": dt || jsonResponse.os_name || {},
                            "uniqueData": dt2 || jsonResponse.os_name || {}
                        }, null, 2);
                    }
                }
            }
            else {
                if (chartCanvas.style.display === 'none') {
                    chartCanvas.style.display = 'block';
                    jsonDataElement.style.display = 'none';
                    jsonPre.style.display = 'none';
                }
                else {
                    chartCanvas.style.display = 'none';
                    jsonDataElement.style.display = 'block';
                    jsonPre.style.display = 'block';

                    const dataOption = document.getElementById(`${chartType}DataOption`).value;
                    if (dataOption === "collectiveData")
                        jsonDataElement.textContent = JSON.stringify(jsonResponse[chartType] || jsonResponse.os_name || {}, null, 2);
                    else if (dataOption === "uniqueData")
                        jsonDataElement.textContent = JSON.stringify(jsonResponse['unique_' + chartType] || jsonResponse.unique_os_name || {}, null, 2);
                    else
                        jsonDataElement.textContent = JSON.stringify({
                            "collectiveData": jsonResponse[chartType] || jsonResponse.os_name || {},
                            "uniqueData": jsonResponse['unique_' + chartType] || jsonResponse.unique_os_name || {}
                        }, null, 2);
                }
            }
        }

        function getLastNDaysCounterData(counterData, days) {
            const counterKeys = Object.keys(counterData);
            const lastNDaysKeys = counterKeys.slice(-days);

            const lastNDaysCounterData = {};
            lastNDaysKeys.forEach((key) => {
                lastNDaysCounterData[key] = counterData[key];
            });

            return lastNDaysCounterData;
        }

        function updateCounterChart() {
            const counterChartCanvas = document.getElementById('counterChart');

            if (counterChartCanvas.style.display === 'none') {
                toggleView('counter');
            }
            // Destroy the existing chart to clear the canvas
            if (counterChartCanvas.chart) {
                counterChartCanvas.chart.destroy();
            }

            const dataOption = document.getElementById('counterDataOption').value;
            const option = document.getElementById('counterOption').value;

            let dt = {};
            let dt2 = {};

            switch (option) {
                case 'last7days':
                    dt = getLastNDaysCounterData(jsonResponse.counter, 7);
                    dt2 = getLastNDaysCounterData(jsonResponse.unique_counter, 7);
                    break;
                case 'last30days':
                    dt = getLastNDaysCounterData(jsonResponse.counter, 30);
                    dt2 = getLastNDaysCounterData(jsonResponse.unique_counter, 30);
                    break;
                case 'alltime':
                    dt = jsonResponse.counter;
                    dt2 = jsonResponse.unique_counter;
                    break;
                default:
                    dt = jsonResponse.counter;
                    dt2 = jsonResponse.unique_counter;
            }

            if (dataOption === "collectiveData") {
                datasets = [
                    {
                        label: 'Click Counter',
                        data: Object.values(dt),
                        fill: 'start',
                        backgroundColor: 'rgba(255, 159, 64, 0.25)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 2,
                        tension: 0.3,
                    },
                ];
            }
            else if (dataOption === "uniqueData") {
                datasets = [
                    {
                        label: 'Unique Click Counter',
                        data: Object.values(dt2),
                        fill: 'start',
                        backgroundColor: 'rgba(201, 203, 207, 0.25)',
                        borderColor: 'rgba(201, 203, 207, 1)',
                        borderWidth: 2,
                        tension: 0.3,
                    },
                ];
            }
            else {
                datasets = [
                    {
                        label: 'Click Counter',
                        data: Object.values(dt),
                        fill: 'start',
                        backgroundColor: 'rgba(255, 159, 64, 0.15)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 2,
                        tension: 0.3,
                    },
                    {
                        label: 'Unique Click Counter',
                        data: Object.values(dt2),
                        fill: 'start',
                        backgroundColor: 'rgba(201, 203, 207, 0.25)',
                        borderColor: 'rgba(201, 203, 207, 1)',
                        borderWidth: 2,
                        tension: 0.3,
                    },
                ];
            }

            const counterChart = new Chart(counterChartCanvas, {
                type: 'line',
                data: {
                    labels: Object.keys(dt),
                    datasets: datasets,
                },
                options: {
                    responsive: true, // Enable responsiveness
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                    scales: {
                        x: {
                            beginAtZero: true,
                            ticks: {
                                color: '#fff',
                            },
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                color: '#fff',
                            },
                        },
                    },
                    plugins: {
                        legend: {
                            labels: {
                                color: '#fff',
                            },
                        },
                    },
                },
            });

            counterChartCanvas.chart = counterChart;
        }

        function updateOsChart() {
            const osChartCanvas = document.getElementById('osChart');

            if (osChartCanvas.style.display === 'none') {
                toggleView('os');
            }

            if (osChartCanvas.chart) {
                osChartCanvas.chart.destroy();
            }
            const dataOption = document.getElementById('osDataOption').value;
            // const dt = dataOption === "collectiveData" ? jsonResponse.sorted_os_name : jsonResponse.sorted_unique_os_name;
            if (dataOption === "collectiveData") {
                datasets = [
                    {
                        label: 'Platforms',
                        data: Object.values(jsonResponse.sorted_os_name),
                        backgroundColor: 'rgba(144, 238, 144, 0.15)',
                        borderColor: 'rgba(144, 238, 144, 1)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                ];
            }
            else if (dataOption === "uniqueData") {
                datasets = [
                    {
                        label: 'Unique Platforms',
                        data: Object.values(jsonResponse.sorted_unique_os_name),
                        backgroundColor: 'rgba(255, 69, 0, 0.25)',
                        borderColor: 'rgba(255, 69, 0, 1)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                ];
            }
            else {
                datasets = [
                    {
                        label: 'Platforms',
                        data: Object.values(jsonResponse.sorted_os_name),
                        backgroundColor: 'rgba(144, 238, 144, 0.15)',
                        borderColor: 'rgba(144, 238, 144, 1)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                    {
                        label: 'Unique Platforms',
                        data: Object.values(jsonResponse.sorted_unique_os_name),
                        backgroundColor: 'rgba(255, 69, 0, 0.25)',
                        borderColor: 'rgba(255, 69, 0, 0.9)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                ];
            }

            const osChart = new Chart(osChartCanvas, {
                type: 'bar',
                data: {
                    labels: Object.keys(jsonResponse.sorted_os_name),
                    datasets: datasets,
                },
                options: {
                    responsive: true, // Enable responsiveness
                    maintainAspectRatio: false,
                    indexAxis: 'y',
                    scales: {
                        x: {
                            ticks: {
                                color: '#fff', // Change the color of the x-axis labels
                            },
                        },
                        y: {
                            stacked: true,
                            ticks: {
                                color: '#fff', // Change the color of the y-axis labels
                            },
                        },
                    },
                    plugins: {
                        legend: {
                            labels: {
                                color: '#fff', // Change the color of the legend labels
                            },
                        },
                    },
                },
            });
            osChartCanvas.chart = osChart;
        }

        function updateBrowserChart() {
            const browserChartCanvas = document.getElementById('browserChart');

            if (browserChartCanvas.style.display === 'none') {
                toggleView('browser');
            }

            if (browserChartCanvas.chart) {
                browserChartCanvas.chart.destroy();
            }

            const dataOption = document.getElementById('browserDataOption').value;

            if (dataOption === "collectiveData") {
                datasets = [
                    {
                        label: 'Browsers',
                        data: Object.values(jsonResponse.sorted_browser),
                        backgroundColor: 'rgba(153, 102, 255, 0.25)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                ];
            }
            else if (dataOption === "uniqueData") {
                datasets = [
                    {
                        label: 'Unique Browsers',
                        data: Object.values(jsonResponse.sorted_unique_browser),
                        backgroundColor: 'rgba(255, 159, 64, 0.25)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                ];
            }
            else {
                datasets = [
                    {
                        label: 'Browsers',
                        data: Object.values(jsonResponse.sorted_browser),
                        backgroundColor: 'rgba(153, 102, 255, 0.15)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                    {
                        label: 'Unique Browsers',
                        data: Object.values(jsonResponse.sorted_unique_browser),
                        backgroundColor: 'rgba(255, 159, 64, 0.25)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 2,
                        borderRadius: 20,
                    },
                ];
            }

            const browserChart = new Chart(browserChartCanvas, {
                type: 'bar',
                data: {
                    labels: Object.keys(jsonResponse.sorted_browser),
                    datasets: datasets,
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    indexAxis: 'y',
                    scales: {
                        x: {
                            ticks: {
                                color: '#fff',
                            },
                        },
                        y: {
                            stacked: true,
                            ticks: {
                                color: '#fff',
                            },
                        },
                    },
                    plugins: {
                        legend: {
                            labels: {
                                color: '#fff',
                            },
                        },
                    },
                },
            });
            browserChartCanvas.chart = browserChart;
        }

        function updateReferrerChart() {
            const referrerChartCanvas = document.getElementById('referrerChart');

            if (referrerChartCanvas.style.display === 'none') {
                toggleView('referrer');
            }

            if (referrerChartCanvas.chart) {
                referrerChartCanvas.chart.destroy();
            }
            const dataOption = document.getElementById('referrerDataOption').value;
            const dt = dataOption === "collectiveData" ? JSON.parse(jsonResponse.sorted_referrer) : JSON.parse(jsonResponse.sorted_unique_referrer);

            const referrerChart = new Chart(referrerChartCanvas, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(dt),
                    datasets: [
                        {
                            label: 'Referrers',
                            data: Object.values(dt),
                            backgroundColor:
                                ["rgba(128, 0, 128, 0.4)", "rgba(255, 0, 255, 0.4)", "rgba(153, 51, 255, 0.4)", "rgba(204, 153, 255, 0.4)", "rgba(230, 230, 250, 0.4)"],
                            borderColor:
                                ["rgba(128, 0, 128, 1)", "rgba(255, 0, 255, 1)", "rgba(153, 51, 255, 1)", "rgba(204, 153, 255, 1)", "rgba(230, 230, 250, 1)"],
                            borderWidth: 2,
                            hoverOffset: 4,
                            borderRadius: 5,
                            spacing: 5,
                        },
                    ],
                },
                options: {
                    responsive: true, // Enable responsiveness
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            labels: {
                                color: '#fff', // Change the color of the legend labels
                                boxWidth: 12
                            }
                        }
                    }
                },
            });
            referrerChartCanvas.chart = referrerChart;
        }

        function updateCountryChart() {
            const countryChartCanvas = document.getElementById('countryChart');

            if (countryChartCanvas.style.display === 'none') {
                toggleView('country');
            }

            if (countryChartCanvas.chart) {
                countryChartCanvas.chart.destroy();
            }
            const dataOption = document.getElementById('countryDataOption').value;
            const dt = dataOption === "collectiveData" ? jsonResponse.sorted_country : jsonResponse.sorted_unique_country;

            const countryChart = new Chart(countryChartCanvas, {
                type: 'doughnut',
                data: {
                    labels: Object.keys(dt),
                    datasets: [
                        {
                            label: 'Countries',
                            data: Object.values(dt),
                            backgroundColor: [
                                'rgba(217, 210, 138, 0.4)',
                                'rgba(255, 130, 118, 0.4)',
                                'rgba(255, 221, 213, 0.4)',
                                'rgba(148, 108, 214, 0.4)',
                                'rgba(100, 100, 100, 0.4)'
                            ],
                            borderColor: [
                                'rgba(217, 210, 138, 1)',
                                'rgba(255, 130, 118, 1)',
                                'rgba(255, 221, 213, 1)',
                                'rgba(148, 108, 214, 1)',
                                'rgba(100, 100, 100, 1)'
                            ],
                            borderWidth: 2,
                            hoverOffset: 4,
                            borderRadius: 5,
                            spacing: 5,
                        },
                    ],
                },
                options: {
                    responsive: true, // Enable responsiveness
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            labels: {
                                color: '#fff', // Change the color of the legend labels
                                boxWidth: 12,
                            }
                        }
                    }
                },
            });
            countryChartCanvas.chart = countryChart;
        }

        function updateAnalysisChart() {
            const analysisChartCanvas = document.getElementById('analysisChart');

            if (analysisChartCanvas.chart) {
                osChartCanvas.chart.destroy();
            }

            const analysisChart = new Chart(analysisChartCanvas, {
                type: 'bar',
                data: {
                    labels: ['Daily', 'Weekly', 'Monthly'],
                    datasets: [
                        {
                            label: 'Clicks Analysis',
                            data: [`{{ json_data["average_daily_clicks"]}}`, `{{ json_data["average_weekly_clicks"]}}`, `{{ json_data["average_monthly_clicks"]}}`],
                            backgroundColor: 'rgba(255, 205, 86, 0.25)',
                            borderColor: 'rgba(255, 205, 86, 1)',
                            borderWidth: 2,
                            borderRadius: 20,
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    indexAxis: 'y',
                    scales: {
                        x: {
                            ticks: {
                                color: '#fff',
                            },
                        },
                        y: {
                            ticks: {
                                color: '#fff',
                            },
                        },
                    },
                    plugins: {
                        legend: {
                            labels: {
                                color: '#fff',
                            },
                        },
                    },
                },
            });
            analysisChartCanvas.chart = analysisChart;
        }

        function exportData(format) {

            let url = `{{ host_url }}export/{{ json_data['short_code'] }}/${format}`;
            if("{{ json_data['password'] }}") {
                url += `?password={{ json_data['password'] }}`;
            }

            fetch(url)
                .then(response => response.blob())
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const link = document.createElement('a');

                    const tld = format === 'csv' ? 'zip' : format;
                    link.href = url;
                    link.download = `${format}-spoo-me-export-{{ json_data['short_code'] }}.${tld}`;
                    document.body.appendChild(link);

                    link.click();

                    document.body.removeChild(link);
                    window.URL.revokeObjectURL(url);
                })
                .catch(error => console.error('Error:', error));
        }

        try {
            updateCounterChart();
            updateOsChart();
            updateBrowserChart();
            updateReferrerChart();
            updateCountryChart();
            updateAnalysisChart();
        } catch (error) {
            console.error("An error occurred while updating the charts: ", error);
        }
    </script>

    <script src="{{ url_for('static', filename='js/contacts-popup.js') }}" defer=""></script>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.24.0/prism.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-json.min.js"></script>

    <script src="https://code.jivosite.com/widget/hJuQcxUqnJ" async></script>

    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>

</body>

</html>