name: Format Code

on:
  push:
    branches:
      - main

jobs:
  format_code:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Format Python Files
        run: python -m black *.py